<div class="teams-panel">
    <p-panel header="Other Teams">
        <app-loading-spinner *ngIf="isLoading" [overlay]="true" [size]="'10px'"></app-loading-spinner>
        <div class="team" *ngFor="let team of teams">
            <div class="team-info">
                <a class="team-avatar" [routerLink]="'./'+team.id">
                    <p-avatar styleClass="team-info-avatar" label="{{teamService.getLabel(team.name)}}"></p-avatar>
                </a>
                <a class="team-title" [routerLink]="'./'+team.id">
                    <div class="team-name">
                        #{{team.name}}
                    </div>
                    <div class="team-members">
                        {{team.members.length}} members
                    </div>
                </a>
            </div>
            <div>
                <button pButton pRipple type="button" label="Join Team" class="panel-button" icon="pi pi-plus-circle"
                    (click)="joinTeam(team.id)">
                </button>
            </div>
        </div>
    </p-panel>
</div>
