@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap')

.dashboard-header
    position: absolute
    width: 100%
    min-height: 50px
    display: flex
    flex-flow: row wrap
    flex-direction: row
    align-items: center
    .dashboard-name
        width: 65%
    .action-buttons
        width: 35%
        display: flex
        flex-flow: row wrap
        flex-direction: row-reverse
        align-items: center

.header-top
    margin-top: 10px

.button
    font-family: "DM Sans", serif
    font-weight: 520
    border-radius: 3px
    color: #FFFFFF
    border: none
    margin: 0 0.5em 0.2em
    padding: 10px
    height: 40px
    min-width: 80px
    cursor: pointer

.edit-button
    background-color: #9322b8
    &:hover
        opacity: 0.9

.delete-button
    background-color: red
    &:hover
        opacity: 0.7
