@import src/styles/variables
@import src/styles/mixins

.remove-margin-box-shadow
    box-shadow: unset !important
    margin-bottom: 0 !important


.dashboard-header
    @include background-gray
    @include title
    display: flex
    align-items: center
    justify-content: space-between

    .action-buttons
        display: flex
        grid-gap: 5px
        flex-direction: row-reverse
        align-items: center

        button
            white-space: nowrap

    h2
        @include text-overflow-x-nowrap
        padding-bottom: 6px
        max-width: 450px
        cursor: default

.tiles-not-found
    height: 100%
    width: 100%


.tiles-container
    padding: 15px
    display: flex
    flex-flow: row wrap
    gap: 15px

    .tile-container
        display: flex

    .tile
        box-shadow: $card-box-shadow
        border: 1px solid $border-color
        flex: 1 1 auto
        height: 494px
        width: 410px
        position: relative

    %card
        margin: 5px
        padding: 10px
        box-shadow: $card-box-shadow
        border: 1px solid $border-color
        flex: 1 1 auto

    .top-active-issue
        @extend %card
        height: 494px
        width: 410px

    .issues-per-time
        @extend %card
        height: 494px
        width: 410px
    .issues-count
        @extend %card
        height: 494px
        width: 410px

.drop-line
    border-radius: 5px
    height: 100%
    min-width: 10px
    position: absolute
    top: 0px
    background: radial-gradient($primary-color-lightest 20%, white 90%)
    opacity: .6
    &.p-draggable-enter
        background: radial-gradient($primary-color-light 20%, white 90%)
    &-left
        left: -14px
    &-right
        right: -14px

