<!--    Header    -->
<div *ngIf="dashboard" [ngClass]="{'remove-margin-box-shadow': showTileMenu}" class="dashboard-header">
    <div class="dashboard-name">
        <h2 appTooltipFullName>{{dashboard?.name}}</h2>
    </div>
    <!--    Right Buttons    -->
    <div class="action-buttons">
        <button (click)="confirmDelete()" [disabled]="!dashboard" class="p-button-danger p-button-outlined"
            label="Delete" pButton pRipple></button>
        <button (click)="openUpdateDashboardDialog()" [disabled]="!dashboard" class="p-button-primary p-button-outlined" label="Edit"
            pButton pRipple></button>
        <button (click)="toggleTileMenu()" [disabled]="!dashboard" class="p-button-secondary p-button-outlined"
            label="Edit Tiles" pButton pRipple></button>
    </div>
</div>

<app-tile-menu (clearTiles)="deleteAllTiles(dashboard.id)" (closeMenu)="this.showTileMenu = false;"
    *ngIf="showTileMenu && dashboard" [dashboardId]="dashboard.id" [tiles]="tiles" [userProjects]="projects">
</app-tile-menu>

<!--    Tiles Content    -->
<ng-template [ngIf]="dashboard">
    <div *ngIf="!tiles.length" class="tiles-not-found">
        <app-no-content-placeholder title="Looks like here are no tiles"></app-no-content-placeholder>
    </div>
    <div *ngIf="tiles.length" class="tiles-container">
        <ng-container *ngFor="let tile of tiles" [ngSwitch]="tile.type">
            <app-top-active-issues-tile (isDeleting)="deleteTile($event)" *ngSwitchCase="tileTypes.TopActiveIssues"
                [isShownEditTileMenu]="showTileMenu" [tile]="tile" [userProjects]="projects"
                [style.flex-basis.px]="getTileSize(tile)" class="top-active-issue">
            </app-top-active-issues-tile>
            <app-issues-per-time-tile (isDeleting)="deleteTile($event)" *ngSwitchCase="tileTypes.IssuesPerTime"
                [isShownEditTileMenu]="showTileMenu" [tile]="tile" [userProjects]="projects"
                [style.flex-basis.px]="getTileSize(tile)" class="issues-per-time">
            </app-issues-per-time-tile>
            <app-issues-count-tile (isDeleting)="deleteTile($event)" *ngSwitchCase="tileTypes.IssuesCount"
                [isShownEditTileMenu]="showTileMenu" [tile]="tile"
                [userProjects]="projects" [style.flex-basis.px]="getTileSize(tile)" class="issues-count">
            </app-issues-count-tile>
            <app-heat-map (isDeleting)="deleteTile($event)" *ngSwitchCase="tileTypes.HeatMap"
                [isShownEditTileMenu]="showTileMenu" [tile]="tile" [userProjects]="projects"
                [style.flex-basis.px]="getTileSize(tile)" class="heat-map">
            </app-heat-map>
        </ng-container>
    </div>
</ng-template>
