<!--    Details    -->
<div class="issue-details-environment">
    <!--    Platform    -->
    <div class="issue-details-environment-column">
        <div class="title">
            <span>Platform</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.platform}}</span>
        </div>
    </div>
    <!--    Browser    -->
    <div class="issue-details-environment-column">
        <div class="title">
            <span>Browser</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.browser}}</span>
        </div>
    </div>
    <!--    Browser name    -->
    <div class="issue-details-environment-column">
        <div class="title">
            <span>Browser name</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.browserName}}</span>
        </div>
    </div>
    <!--    Browser version    -->
    <div class="issue-details-environment-column">
        <div class="title">
            <span>Browser version</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.browserVersion}}</span>
        </div>
    </div>
</div>
