<!--    Details    -->
<div class="issue-details-environment">
    <!--    Platform    -->
    <div *ngIf="issueEnvironment.platform" class="issue-details-environment-column">
        <div class="title">
            <span>Platform</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.platform}}</span>
        </div>
    </div>
    <!--    System type    -->
    <div *ngIf="issueEnvironment.systemType" class="issue-details-environment-column">
        <div class="title">
            <span>System type</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.systemType}}</span>
        </div>
    </div>
    <!--    UTC offset    -->
    <div *ngIf="issueEnvironment.utcOffset" class="issue-details-environment-column">
        <div class="title">
            <span>UTC offset</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.utcOffset < 0 ? "" : "+"}}{{issueEnvironment.utcOffset}}:00</span>
        </div>
    </div>
    <!--    Locale    -->
    <div *ngIf="issueEnvironment.locale" class="issue-details-environment-column">
        <div class="title">
            <span>Locale</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.locale}}</span>
        </div>
    </div>
    <!--    Browser    -->
    <div *ngIf="issueEnvironment.browser" class="issue-details-environment-column">
        <div class="title">
            <span>Browser</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.browser}}</span>
        </div>
    </div>
    <!--    Browser name    -->
    <div *ngIf="issueEnvironment.browserName" class="issue-details-environment-column">
        <div class="title">
            <span>Browser name</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.browserName}}</span>
        </div>
    </div>
    <!--    Browser version    -->
    <div *ngIf="issueEnvironment.browserVersion" class="issue-details-environment-column">
        <div class="title">
            <span>Browser version</span>
        </div>
        <div class="value">
            <span>{{issueEnvironment.browserVersion}}</span>
        </div>
    </div>
</div>
