<!--    Header    -->
<app-loading-spinner *ngIf="loadingNumber > 0" [size]="'10px'"></app-loading-spinner>
<div class="header">
    <h1 class="header-title">Projects</h1>
    <div class="action-buttons">
        <button [routerLink]="['create']" class="p-button-info"
                icon="pi pi-plus-circle" label="Create Project" pButton type="button"></button>
    </div>
</div>
<div class="projects-container">
    <!--    Projects Grid    -->
    <div class="grid">
        <div *ngFor="let project of projects">
            <div class="card">
                <div class="card-title">
                    <img alt="{{project.platform.name}}" [src]="project.platform.avatarUrl | save">
                    <span>{{project.platform.name}}</span>
                </div>
                <div class="card-body">
                    <div class="card-body-name">{{project.name}}</div>
                    <div class="card-body-description">{{project.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
