@import ../common-styles/variables
@import ../common-styles/mixins

.title
    @include title
    @include backgroung-gray

.header
    height: 24px
    display: flex
    align-items: center
    grid-gap: 5px
    
:host ::ng-deep
    .p-tabview-nav-link
        &:focus
            box-shadow: none !important

    .p-badge
        background-color: lightgray
    
    .p-highlight 
        .p-badge
            background-color: #2196F3