@import src/styles/variables
@import src/styles/mixins

.title
    @include title
    @include backgroung-gray

.header
    height: 24px
    display: flex
    align-items: center
    grid-gap: 5px

.search-block
    display: grid
    grid-template-columns: 1fr auto
    grid-gap: $indent
    margin-bottom: 16px

.bold
    font-weight: bold

.search-button
    cursor: pointer

:host ::ng-deep
    .p-tabview-nav-link
        &:focus
            box-shadow: none !important

    .p-badge
        background-color: lightgray
    
    .p-highlight 
        .p-badge
            background-color: #2196F3

    .p-dropdown
        height: 40px
        width: 220px
    
    .p-dropdown-label
        display: flex
        align-items: center

@media screen and ( max-width:960px )
    .search-additional
        display: none
    