<div class="title">Issues</div>
<div class="issues-content">
    <p-tabView styleClass="tabview-custom">

        <div class="functional-bar">
            <div class="search-block p-inputgroup">
                <span class="p-inputgroup-addon search-button"><i class="pi pi-search"></i></span>
                <input type="text" pInputText placeholder="Search" name="search">
            </div>
            <div class="action-block">
                <span class="p-inputgroup-addon search-button"><i class="pi pi-paperclip"></i></span>
                <span class="p-inputgroup-addon search-button"><i class="pi pi-plus"></i></span>
                <span class="p-inputgroup-addon search-button"><i class="pi pi-ellipsis-v"></i></span>
                <span class="p-inputgroup-addon search-button"><i class="pi pi-times"></i></span>
            </div>
        </div>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="header">
                    <span>All Unresolved</span>
                    <p-badge *ngIf="countNew.all > 0" [value]="countNew.all.toString()"></p-badge>
                </div>
            </ng-template>

            <p-table class="issues-table" [value]="issues" [paginator]="issues?.length > itemsPerPage" [rows]="itemsPerPage" [resizableColumns]="true" [autoLayout]="true">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col id="issue-col">
                        <col id="events-col">
                        <col id="users-col">
                        <col id="assignee-col">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="name" pSortableColumn="newest.occurredOn">
                            <div class="issue">
                                <p-checkbox name="allIssues" (onChange)="selectAll($event)"></p-checkbox>
                                <span>Issue <p-sortIcon field="newest.occurredOn"></p-sortIcon>
                                </span>
                            </div>
                        </th>
                        <th class="center" pSortableColumn="eventsCount">
                            <span>Events <p-sortIcon field="eventsCount">
                                </p-sortIcon>
                            </span>
                        </th>
                        <th class="center" pSortableColumn="users">
                            <span>Users <p-sortIcon field="users">
                                </p-sortIcon>
                            </span>
                        </th>
                        <th class="center"><span>Assignee</span></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-issue>
                    <tr>
                        <td>
                            <div class="issue-block">
                                <p-checkbox name="selectedIssues" [value]="issue" [(ngModel)]="selectedIssues">
                                </p-checkbox>
                                <div class="content">
                                    <span class="name">{{issue.errorClass}}</span>
                                    <span class="description">{{issue.errorMessage}}</span>
                                    <div class="additional-info">
                                        <p-tag class="new-issue" *ngIf="issue.isNew" styleClass="p-mr-2"
                                            value="New issue" [rounded]="true"></p-tag>
                                        <span>{{issue.projectTag}}</span>
                                        <div class="tooltip">
                                            <span><i class="pi pi-clock time-icon"></i>{{issue.newest.occurredOn | timeAgo}}</span>
                                            <span class="tooltiptext">{{issue.newest.occurredOn | date:'MMMM d, y h:mma'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{issue.eventsCount}}</td>
                        <td>{{issue?.users}}</td>
                        <td>
                            <div class="assignee" (click)="openAssign(issue)">                       
                                <p-avatarGroup styleClass="p-mb-3">
                                    <p-avatar *ngIf="getNumberAssignee(issue?.assignee) === 0" icon="pi pi-user" shape="circle"></p-avatar>
                                    <p-avatar *ngFor="let img of getMembersImages(issue?.assignee)" [image]="img" shape="circle"></p-avatar>
                                    <p-avatar *ngFor="let label of getTeamsLabels(issue?.assignee)" [label]="label" shape="circle"></p-avatar>
                                    <p-avatar *ngIf="getNumberAssignee(issue?.assignee) > 3" [label]="getNumberExtraAssignee(issue?.assignee)" shape="circle" ></p-avatar>
                                </p-avatarGroup>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-tabPanel>
        <p-tabPanel [disabled]="true">
            <ng-template pTemplate="header">
                <div class="header">
                    <span>Second Type</span>
                    <p-badge *ngIf="countNew.secondtype > 0" [value]="countNew.secondtype.toString()"></p-badge>
                </div>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel [disabled]="true">
            <ng-template pTemplate="header">
                <div class="header">
                    <span>Third Type</span>
                    <p-badge *ngIf="countNew.thirdtype > 0" [value]="countNew.thirdtype.toString()"></p-badge>
                </div>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
<app-assignee 
    (closeModal)="closeAssing()"
    [data]="toAssing"
    [members]="sharedOptions.members"
    [teams]="sharedOptions.teams"
    *ngIf="isAssign">
</app-assignee>
