@import src/styles/variables
@import src/styles/mixins

.table
    padding-top: 12px
    height: 100%

    .issue-time
        @include disable-select

    .issue-time:not(.current)
        cursor: pointer

    .issue-time:hover:not(.current)
        color: $primary-color

    .issue-id
        font-size: 12px
        margin-top: 3px
        color: $table-secondary-color
        display: block
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

    .table-override
        ::ng-deep p-table
            height: 100%

            ::ng-deep .p-datatable
                height: 100%
                display: flex
                flex-direction: column
                align-content: center
                justify-content: space-between
                align-items: center

                ::ng-deep td
                    vertical-align: middle

                ::ng-deep p-paginator
                    width: 100%
        //override paginator dropdown text
:host ::ng-deep
    .p-dropdown-label
        display: flex
        align-items: center

    .label
        padding: 0 0.4rem !important
        @include disable-select
        position: relative
        top: -0.1rem
