<div class="table">
    <p-table 
        [alwaysShowPaginator]="totalRecords > paginatorRows" 
        [autoLayout]="true" 
        [pageLinks]="1"
        [paginator]="true" 
        [resizableColumns]="true" 
        [rows]="paginatorRows" 
        [value]="issues" 
        selectionMode="single"
        styleClass="table-override"  
        [lazy]="true"
        (onLazyLoad)="getEventMessages($event)" 
        [totalRecords]="totalRecords" 
        [loading]="loading">
        <!--    Columns Define    -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="occurredOn" field="occurredOn">
                    ID
                    <p-sortIcon field="occurredOn"></p-sortIcon>
                </th>
                <th pSortableColumn="issueDetails.environmentMessage.platform" field="issueDetails.environmentMessage.platform">
                    Platform
                    <p-sortIcon field="issueDetails.environmentMessage.platform"></p-sortIcon>
                </th>
                <th pSortableColumn="issueDetails.environmentMessage.browser" field="issueDetails.environmentMessage.browser">
                    Browser
                    <p-sortIcon field="issueDetails.environmentMessage.browser"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <!--    Rows Data   -->
        <ng-template let-issue pTemplate="body">
            <tr>
                <td>
                    <span class="issue-time"
                        routerLink="/home/issues/{{issueMessage.issueId}}/{{issue.id}}">{{issue.occurredOn | date:'MMMM
                        d, y h:mma'}}</span>
                    <small class="issue-id">{{issue.id}}</small>
                </td>
                <td>{{issue.issueDetails.environmentMessage.platform}}</td>
                <td>{{issue.issueDetails.environmentMessage.browser}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>