<div class="table">
    <p-table
        (onLazyLoad)="getEventMessages($event)"
        [autoLayout]="true"
        [lazy]="true"
        [paginator]="totalRecords > paginatorRows"
        [resizableColumns]="true"
        [rows]="paginatorRows"
        [sortOrder]="-1"
        [totalRecords]="totalRecords"
        [value]="issues"
        selectionMode="single"
        sortField="occurredOn"
        styleClass="table-override">
        <!--    Columns Define    -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="occurredOn">
                    ID
                    <p-sortIcon field="occurredOn"></p-sortIcon>
                </th>
                <th>Platform</th>
                <th>
                    <div class="last-column">
                        <div>Browser</div>
                        <div>
                            <span (click)="exportExcel()" pTooltip="Export to Excel" tooltipPosition="bottom"
                                  tooltipStyleClass="tooltip-text"><i class="pi pi-file-excel"></i></span>
                            <span (click)="exportPdf()" pTooltip="Export to PDF" tooltipPosition="bottom"
                                  tooltipStyleClass="tooltip-text"><i class="pi pi-file-pdf"></i></span>
                        </div>
                    </div>
                </th>
            </tr>
        </ng-template>
        <!--    Rows Data   -->
        <ng-template let-issue pTemplate="body">
            <tr>
                <td>
                    <span
                        [class.current]="issueMessage.id === issue.id"
                        class="issue-time"
                        routerLink="/home/issues/{{issueMessage.issueId}}/{{issue.id}}">
                        {{issue.occurredOn | date:'MMMM d, y h:mma'}}
                    </span>
                    <p-tag *ngIf="issueMessage.id === issue.id" [rounded]="true" severity="info" styleClass="label"
                           value="current"></p-tag>
                    <small class="issue-id">{{issue.id}}</small>
                </td>
                <td>{{issue.issueDetails.environmentMessage.platform}}</td>
                <td>{{issue.issueDetails.environmentMessage.browser}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
