<div class="header">
    <div class="header-title">
        <!--    Default title    -->
        <div class="button-replace">
        <button *ngIf="!isEditName && isShownTileMenu" (mousedown)="dragOn()" (mouseup)="dragOff()"
            class="p-button-raised p-button-text p-button-plain" icon="pi pi-th-large" pButton>
        </button>
        </div>
        <span *ngIf="!isEditName || !isShownTileMenu">{{tile.name}}</span>

        <button (click)="toggleNameEditor()" *ngIf="!isEditName && isShownTileMenu"
                class="p-button-raised p-button-text p-button-plain"
                icon="pi pi-pencil" pButton></button>
        <!--    Title When Edit    -->
        <ng-container *ngIf="isEditName && isShownTileMenu" [formGroup]="formGroup">

            <input [tooltipDisabled]="!formGroup.controls.name.errors"
                   autofocus class="input-text" formControlName="name"
                   pInputText pTooltip="At least 3 characters but no more than 50. May contain lowercase
                   (a-z) and uppercase (A-Z) letters, numbers (0-9), space, point, dashes and underscores"
                   tooltipPosition="top" type="text">
            <button (click)="saveNameChanges()"
                    [disabled]="formGroup.controls.name.invalid || !formGroup.controls.name.dirty"
                    class="p-button-raised p-button-text p-button-plain" icon="pi pi-save" pButton>
            </button>
            <button (click)="toggleNameEditor()"
                    class="p-button-raised p-button-text p-button-plain" icon="pi pi-times" pButton>
            </button>
        </ng-container>
    </div>
    <div *ngIf="!isShownTileMenu" class="header-right-buttons">
        <div class="button-export">
            <button (click)="exportTileMenu.toggle($event)"
                class="p-button-raised p-button-text p-button-plain"
                icon="pi pi-download" pButton pTooltip="Chart" tooltipPosition="bottom"
                tooltipStyleClass="tooltip-text" type="button"></button>
            <p-tieredMenu #exportTileMenu [model]="menuTileExportItems" [popup]="true" appendTo="body" styleClass="tiered-menu">
            </p-tieredMenu>
        </div>
    </div>
    <!--    Title Right Buttons    -->
    <div *ngIf="isShownTileMenu" class="header-right-buttons">
        <div class="button-delete">
            <button (click)="deleteTile()" class="p-button-raised p-button-text p-button-plain" icon="pi pi-trash"
                    pButton></button>
        </div>
        <div class="button-settings">
            <button (click)="editTile()" class="p-button-raised p-button-text p-button-plain"
                    icon="pi pi-cog"
                    pButton></button>
        </div>
    </div>
</div>
