:host ::ng-deep
    .p-dialog-content
        padding: 0
    .p-panel
        min-width: 60vw
    .p-dialog-header
        padding: 0
    .p-multiselect
        width: 100%

.close-button
    border: none
    background: none
    position: absolute
    top: 15px
    right: 10px
    cursor: pointer

.member-name
    padding: 5px

.assignee-form
    display: grid
    grid-auto-flow: column
    grid-gap: 20px
