<div class="user-container last-section">
    <div class="user-settings">
        <div class="info-settings">
            <form action="">
                <h4>Change password</h4>
                <div class="input-container">
                    <div class="input-section">
                        <div class="items-container">
                            <label class="form-label" for="currentPassword">Current password</label>
                            <div class="password">
                                <input id="currentPassword" type="password">
                                <button class="password-control"><i class="pi pi-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="input-section">
                        <div class="items-container">
                            <label class="form-label" for="newPassword">New password</label>
                            <div class="password">
                                <input id="newPassword" type="password">
                                <button class="password-control"><i class="pi pi-eye"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="save-changes">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
