<p-panel header="Password settings" class="container-group">

    <form class="item" [formGroup]="pass">
        <label class="item-definition">
            <div>Current password</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <span class="p-float-label">
                    <p-password id="float-input-pass" formControlName="oldPassword" class="item-form-field"
                        [feedback]="false" [toggleMask]="true"></p-password>
                        <label for="float-input-pass">Old password</label>
                    <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
                        class="p-error">
                        <small *ngIf="oldPassword.errors?.required">This field is required.</small>
                        <small *ngIf="oldPassword.errors?.minlength || oldPassword.errors?.maxlength">
                            Length must be between 3 and 50 characters.
                        </small>
                        <small *ngIf="oldPassword.errors?.serverError">Server error.</small>
                    </div>
                </span>
            </div>
        </div>
    </form>
    <form class="item" [formGroup]="pass">
        <label class="item-definition">
            <div>New password</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <span class="p-float-label">
                    <p-password id="float-input-pass" formControlName="newPassword"
                        [feedback]="false" [toggleMask]="true"></p-password>
                        <label for="float-input-pass">New password</label>
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                        class="p-error">
                        <small *ngIf="newPassword.errors?.required">This field is required.</small>
                        <small *ngIf="newPassword.errors?.minlength || newPassword.errors?.maxlength">
                            Length must be between 3 and 50 characters.
                        </small>
                        <small *ngIf="newPassword.errors?.serverError">Server error.</small>
                    </div>
                </span>
            </div>
        </div>
    </form>
    <form class="item" [formGroup]="pass">
        <label class="item-definition">
            <div>Confirm new password</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <span class="p-float-label">
                    <p-password id="float-input-pass" formControlName="confirmPassword"
                        [feedback]="false" [toggleMask]="true"></p-password>
                    <label for="float-input-pass">Confirm password</label>
                </span>
            </div>
        </div>
    </form>
</p-panel>
