<div class="user-container last-section">
    <div class="user-settings">
        <div class="info-settings">
            <form (ngSubmit)="onSubmit()">
                <h4>Change password</h4>
                <div class="input-container">
                    <div class="input-section">
                        <div class="items-container">
                            <div class="password">
                                <span class="p-float-label">
                                    <p-password id="float-input-pass" name="password" [(ngModel)]="oldPassword"
                                        [feedback]="false" [toggleMask]="true"></p-password>
                                    <label for="float-input-pass">Old password</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="input-section">
                        <div class="items-container">
                            <div class="password">
                                <span class="p-float-label">
                                    <p-password id="float-input-pass" name="password" [(ngModel)]="newPassword"
                                        [feedback]="false" [toggleMask]="true"></p-password>
                                    <label for="float-input-pass">New password</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="save-changes">Save
                        changes</button>
                </div>
            </form>
        </div>
    </div>
</div>