<form action="/signon" method="POST" class="reg-form">
    <div class="reg-block">
        <span class="p-float-label">
            <input id="float-input-first-name" type="text" name="first-name" pInputText [(ngModel)]= "user.firstName">
            <label for="float-input-first-name">First Name</label>
        </span>
        <span class="p-float-label">
            <input id="float-input-last-name" type="text" name="last-name" pInputText [(ngModel)]= "user.lastName">
            <label for="float-input-last-name">Last Name</label>
        </span>
    </div>
    <div class="reg-block">
        <span class="p-float-label">
            <input id="float-input-comp-name" type="text" name="comp-name" pInputText [(ngModel)]= "user.companyName">
            <label for="float-input-comp-name">Company name</label>
        </span>
        <span class="p-float-label">
            <input id="float-input-email" type="text" name="email" pInputText [(ngModel)]= "user.email">
            <label for="float-input-email">Email</label>
        </span>
    </div>
    <div class="reg-block">
        <span class="p-float-label">
            <p-dropdown [options]="roles" name="roles" id="float-input-role" [(ngModel)]="user.role" placeholder=" " [showClear]="true" optionValue="code" optionLabel="name"></p-dropdown>
            <label for="float-input-role">Role</label>
        </span>
        <span class="p-float-label">
            <p-dropdown [options]="companySize" name="companySize" id="float-input-comp-size" [(ngModel)]="user.companySize"  placeholder=" " [showClear]="true" optionValue="code" optionLabel="name"></p-dropdown>
            <label for="float-input-comp-size">Company size</label>
        </span>
    </div>
    <div class="reg-block">
        <span class="p-float-label">
            <p-password id="float-input-pass" name="password" [(ngModel)]="user.password" [feedback]="false" [toggleMask]="true"></p-password>
            <label for="float-input-role">Password</label>
        </span>
        <span class="p-float-label">
            <p-password id="float-input-pass" name="confirm-password" [(ngModel)]="confirmPassword"  [feedback]="false" [toggleMask]="true"></p-password>
            <label for="float-input-role">Confirm password</label>
        </span>
    </div>
    <div class="reg-block">
        <span class="p-field-checkbox">
            <p-checkbox class="remember-check" name="remember" [(ngModel)]="rememberMe" [binary]="true" inputId="binary"></p-checkbox>
            <label for="binary">Remember me</label>
        </span>
    </div>
    <div class="reg-block">
        <span>
            <button pButton class="submit-button" label="Submit"></button>
        </span>
    </div>
</form>