<form [formGroup]="personalDetail" action="/signup" method="POST" *ngIf="step == 1">
    <div class="reg-block">
        <div class="input-block">
            <span class="p-float-label">
                <input id="float-input-first-name" type="text" formControlName="firstName" name="first-name" pInputText
                    [(ngModel)]="user.firstName" [disabled]="isNotFinishedRegistration">
                <label for="float-input-first-name">First Name</label>
            </span>
            <div *ngIf="personal_step && personalDetail.controls.firstName.touched && personalDetail.controls.firstName.invalid"
                class="validation">
                <small *ngIf="personalDetail.controls.firstName.errors.required">Сan not be empty</small>
                <small *ngIf="personalDetail.controls.firstName.value?.length < 2">Min length 2</small>
                <small *ngIf="personalDetail.controls.firstName.value?.length > 30">Max length 30</small>
                <small *ngIf="personalDetail.controls.firstName.hasError('pattern')">May letters, dashes and space</small>
            </div>
        </div>
        <div class="input-block">
            <span class="p-float-label">
                <input id="float-input-last-name" type="text" formControlName="lastName" name="last-name" pInputText
                    [(ngModel)]="user.lastName" [disabled]="isNotFinishedRegistration">
                <label for="float-input-last-name">Last Name</label>
            </span>
            <div *ngIf="personal_step && personalDetail.controls.lastName.touched && personalDetail.controls.lastName.invalid" class="validation">>
                <small *ngIf="personalDetail.controls.lastName.value?.length < 2">Min length 2</small>
                <small *ngIf="personalDetail.controls.lastName.value?.length > 30">Max length 30</small>
                <small *ngIf="personalDetail.controls.lastName.hasError('pattern')">May contain letters, dashes and space</small>
            </div>
        </div>
    </div>
    <div class="reg-block">
        <div class="input-block">
            <span class="p-float-label">
                <input id="float-input-email" type="text" formControlName="email" name="email" pInputText
                    [(ngModel)]="user.email" [disabled]="isNotFinishedRegistration">
                <label for="float-input-email">Email</label>
            </span>
            <div *ngIf="personal_step && personalDetail.controls.email.touched && personalDetail.controls.email.invalid" class="validation">
                <small *ngIf="personalDetail.controls.email.errors.required">Сan not be empty</small>
                <small *ngIf="personalDetail.controls.email.value?.length < 6">Min length 6</small>
                <small *ngIf="personalDetail.controls.email.hasError('pattern')">Invalid Email</small>
            </div>
        </div>
        <div class="input-block blank-block">
        </div>
    </div>
    <div class="reg-block" *ngIf="!isNotFinishedRegistration">
        <div class="input-block">
            <span class="p-float-label">
                <p-password id="float-input-pass" formControlName="password" name="password" [(ngModel)]="password"
                    [feedback]="false" [toggleMask]="true"></p-password>
                <label for="float-input-role">Password</label>
            </span>
            <div *ngIf="personal_step && personalDetail.controls.password.touched && personalDetail.controls.password.invalid" class="validation">
                <small *ngIf="personalDetail.controls.password.errors.required">Сan not be empty</small>
                <small *ngIf="personalDetail.controls.password.value?.length < 8">Min length 8</small>
                <small *ngIf="personalDetail.controls.password.value?.length > 30">Max length 30</small>
                <small *ngIf="personalDetail.controls.password.hasError('pattern')">Must contain at least 1 lowercase letter,
                    1 uppercase letter, 1 number, 1 symbol </small>
            </div>
        </div>
        <div class="input-block">
            <span class="p-float-label">
                <p-password id="float-input-pass" formControlName="confirmPassword" name="confirm-password"
                    [(ngModel)]="confirmPassword" [feedback]="false" [toggleMask]="true"></p-password>
                <label for="float-input-role">Confirm password</label>
            </span>
            <div *ngIf="personal_step && personalDetail.controls.confirmPassword.touched && personalDetail.controls.confirmPassword.invalid"
                class="validation">
                <small *ngIf="personalDetail.controls.confirmPassword.errors.required">Сan not be empty</small>
                <small *ngIf="personalDetail.controls.confirmPassword.errors.notEqual">Passwords must match</small>
            </div>
        </div>
    </div>
    <div class="submit-block">
        <span>
            <button pButton class="submit-button p-button-outlined" label="Next" (click)="next()"
                [disabled]="!personalDetail.valid"></button>
        </span>
    </div>
</form>
<div class="radio-button-organization" *ngIf="step == 2">
    <p-radioButton name="groupname" value="create-organization" label="Create new organization" [(ngModel)]="selectedValue"></p-radioButton>
    <p-radioButton name="groupname" value="join-organization" label="Join to organization" [(ngModel)]="selectedValue"></p-radioButton>
</div>
<form [formGroup]="ogranizationDetail" action="/signup" class="reg-form organization-form" method="POST" *ngIf="step == 2 && selectedValue == 'create-organization'">
    <div class="reg-block">
        <div class="input-block">
            <span class="p-float-label">
                <input id="float-input-comp-name" type="text" formControlName="organizationName" name="comp-name"
                    pInputText [(ngModel)]="organization.name">
                <label for="float-input-comp-name">Organization name</label>
            </span>
            <div *ngIf="organization_step && ogranizationDetail.controls.organizationName.touched && ogranizationDetail.controls.organizationName.invalid"
                class="validation">
                <small *ngIf="ogranizationDetail.controls.organizationName.errors.required">Сan not be empty</small>
                <small *ngIf="ogranizationDetail.controls.organizationName.value?.length < 3">Min length 3</small>
                <small *ngIf="ogranizationDetail.controls.organizationName.value?.length > 50">Max length 50</small>
                <small *ngIf="ogranizationDetail.controls.organizationName.hasError('pattern')">May contain letters, numbers,
                    space, special character: !#$%&‘*+—/=?^_`&#123;|&#125;~</small>
            </div>
        </div>
        <div class="input-block">
            <span class="p-float-label">
                <input id="float-input-comp-slug" type="text" formControlName="organizationSlug" name="comp-slug"
                    pInputText [(ngModel)]="organizationSlug">
                <label for="float-input-comp-slug">Organization slug</label>
            </span>
            <div *ngIf="organization_step && ogranizationDetail.controls.organizationSlug.touched && ogranizationDetail.controls.organizationSlug.invalid"
                class="validation">
                <small *ngIf="ogranizationDetail.controls.organizationSlug.errors.required">Сan not be empty</small>
                <small *ngIf="ogranizationDetail.controls.organizationSlug.value?.length < 3">Min length 3</small>
                <small *ngIf="ogranizationDetail.controls.organizationSlug.value?.length > 50">Max length 50</small>
                <small *ngIf="ogranizationDetail.controls.organizationSlug.errors?.notUnique">Slug is not unique</small>
                <small *ngIf="ogranizationDetail.controls.organizationSlug.hasError('pattern')">May contain letters, numbers,
                    space, dashes and underscores</small>
            </div>
        </div>
    </div>
</form>
<form [formGroup]="ogranizationJoin" action="/signup" class="reg-form organization-form" method="POST" *ngIf="step == 2 && selectedValue == 'join-organization'">
    <div class="reg-block">
        <div class="input-block">
            <span class="p-float-label">
                <input id="float-input-comp-slug" type="text" formControlName="organizationSlugJoin" name="comp-slug"
                    pInputText [(ngModel)]="organizationSlugJoin">
                <label for="float-input-comp-slug">Organization slug</label>
            </span>
            <div *ngIf="organization_step && ogranizationJoin.controls.organizationSlug.touched && ogranizationJoin.controls.organizationSlug.invalid"
                class="validation">
                <small *ngIf="ogranizationJoin.controls.organizationSlug.errors.required">Сan not be empty</small>
                <small *ngIf="ogranizationJoin.controls.organizationSlug.value?.length < 3">Min length 3</small>
                <small *ngIf="ogranizationJoin.controls.organizationSlug.value?.length > 50">Max length 50</small>
                <small *ngIf="ogranizationJoin.controls.organizationSlug.errors?.notUnique">Slug is not unique</small>
                <small *ngIf="ogranizationJoin.controls.organizationSlug.hasError('pattern')">May contain letters, numbers,
                    space, dashes and underscores</small>
            </div>
        </div>
    </div>
</form>
<div class="submit-block" *ngIf="step == 2">
    <span>
        <button pButton class="submit-button p-button-outlined" label="Previous" (click)="previous()"></button>
    </span>
    <span>
        <button pButton class="submit-button p-button-outlined" *ngIf="selectedValue == 'create-organization'" label="Submit" (click)="submit()"
            [disabled]="!ogranizationDetail.valid"></button>
        <button pButton class="submit-button p-button-outlined" *ngIf="selectedValue == 'join-organization'" label="Submit" (click)="submit()"
            [disabled]="!ogranizationJoin.valid"></button>
    </span>
</div>

