<span class="hint" *ngIf="step === stepRegistration.OrganizationData">To continue create a new organization or join existing</span>
<form class="form" [formGroup]="personalDetail" action="/signup" method="POST" *ngIf="step === stepRegistration.PersonalData">
    <div class="reg-block">
        <div class="input-block">
            <span class="p-float-label">
                <input id="float-input-first-name" type="text" formControlName="firstName" name="first-name" pInputText
                    [(ngModel)]="user.firstName" [disabled]="isNotFinishedRegistration">
                <label for="float-input-first-name">First Name</label>
            </span>
            <div *ngIf="personalStep && firstName.touched && firstName.invalid"
                class="validation">
                <small *ngIf="firstName.errors?.required">Сan not be empty</small>
                <small *ngIf="firstName.errors?.minlength">Min length 2</small>
                <small *ngIf="firstName.errors?.maxlength">Max length 30</small>
                <small *ngIf="firstName.errors?.pattern">May letters, dashes and space</small>
            </div>
        </div>
        <div class="input-block">
            <span class="p-float-label">
                <input id="float-input-last-name" type="text" formControlName="lastName" name="last-name" pInputText
                    [(ngModel)]="user.lastName" [disabled]="isNotFinishedRegistration">
                <label for="float-input-last-name">Last Name</label>
            </span>
            <div *ngIf="personalStep && lastName.touched && lastName.invalid" class="validation">>
                <small *ngIf="lastName.errors?.minlength">Min length 2</small>
                <small *ngIf="lastName.errors?.maxlength">Max length 30</small>
                <small *ngIf="lastName.errors?.pattern">May contain letters, dashes and space</small>
            </div>
        </div>
    </div>
    <div class="reg-block">
        <div class="input-block">
            <span class="p-float-label">
                <input id="float-input-email" type="text" formControlName="email" name="email" pInputText
                    [(ngModel)]="user.email" [disabled]="isNotFinishedRegistration">
                <label for="float-input-email">Email</label>
            </span>
            <div *ngIf="personalStep && email.touched && email.invalid" class="validation">
                <small *ngIf="email.errors?.required">Сan not be empty</small>
                <small *ngIf="email.errors?.minlength">Min length 6</small>
                <small *ngIf="email.errors?.pattern">Invalid Email</small>
            </div>
        </div>
        <div class="input-block blank-block">
        </div>
    </div>
    <div class="reg-block" *ngIf="!isNotFinishedRegistration">
        <div class="input-block">
            <span class="p-float-label">
                <p-password id="float-input-pass" formControlName="password" name="password" [(ngModel)]="passwords"
                    [feedback]="false" [toggleMask]="true"></p-password>
                <label for="float-input-role">Password</label>
            </span>
            <div *ngIf="personalStep && password.touched && password.invalid" class="validation">
                <small *ngIf="password.errors.required">Сan not be empty</small>
                <small *ngIf="password.errors?.minlength">Min length 8</small>
                <small *ngIf="password.errors?.maxlength">Max length 30</small>
                <small *ngIf="password.errors?.pattern">Must contain at least 1 lowercase letter,
                    1 uppercase letter, 1 number, 1 symbol </small>
            </div>
        </div>
        <div class="input-block">
            <span class="p-float-label">
                <p-password id="float-input-pass" formControlName="confirmPassword" name="confirm-password"
                    [(ngModel)]="confirmPasswords" [feedback]="false" [toggleMask]="true"></p-password>
                <label for="float-input-role">Confirm password</label>
            </span>
            <div *ngIf="personalStep && confirmPassword.touched && confirmPassword.invalid"
                class="validation">
                <small *ngIf="confirmPassword.errors?.required">Сan not be empty</small>
                <small *ngIf="confirmPassword.errors?.notEqual">Passwords must match</small>
            </div>
        </div>
    </div>
    <div class="submit-block">
        <span>
            <button pButton class="submit-button p-button-outlined" label="Next" (click)="next()"
                [disabled]="!personalDetail.valid"></button>
        </span>
    </div>
</form>
<div *ngIf="step === stepRegistration.OrganizationData">
    <p-tabView (onChange)="handleChange($event)">
        <p-tabPanel >
            <ng-template pTemplate="header">
                <div class="header">
                    <span>Create</span>
                </div>
            </ng-template>
            <form [formGroup]="ogranizationDetail" action="/signup" class="reg-form organization-form" method="POST"
                *ngIf="indexOfSelectedTab === tabRegistration.CreateOrganization">
                <div class="reg-block">
                    <div class="input-block">
                        <span class="p-float-label">
                            <input id="float-input-comp-name" type="text" formControlName="organizationName" name="comp-name"
                                pInputText [(ngModel)]="organization.name">
                            <label for="float-input-comp-name">Organization name</label>
                        </span>
                        <div *ngIf="organizationStep && organizationName.touched && organizationName.invalid"
                            class="validation">
                            <small *ngIf="organizationName.errors?.required">Сan not be empty</small>
                            <small *ngIf="organizationName.errors?.minlength">Min length 3</small>
                            <small *ngIf="organizationName.errors?.maxlength">Max length 50</small>
                            <small *ngIf="organizationName.errors?.pattern">May contain letters, numbers,
                                space, special character</small>
                        </div>
                    </div>
                    <div class="input-block">
                        <span class="p-float-label">
                            <input id="float-input-comp-slug" type="text" formControlName="organizationSlug" name="comp-slug"
                                pInputText [(ngModel)]="organizationSlugs">
                            <label for="float-input-comp-slug">Organization slug</label>
                        </span>
                        <div *ngIf="organizationStep && organizationSlug.touched && organizationSlug.invalid"
                            class="validation">
                            <small *ngIf="organizationSlug.errors?.required">Сan not be empty</small>
                            <small *ngIf="organizationSlug.errors?.minlength">Min length 3</small>
                            <small *ngIf="organizationSlug.errors?.maxlength">Max length 50</small>
                            <small *ngIf="organizationSlug.errors?.notUnique">Slug is not unique</small>
                            <small *ngIf="organizationSlug.errors?.pattern">May contain letters, numbers,
                                space, dashes and underscores</small>
                        </div>
                    </div>
                </div>
            </form>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="header">
                    <span>Join</span>
                </div>
            </ng-template>
            <form [formGroup]="ogranizationJoin" action="/signup" class="reg-form organization-form" method="POST"
                *ngIf="indexOfSelectedTab === tabRegistration.JoinToOrganization">
                <div class="reg-block">
                    <div class="input-block">
                        <span class="p-float-label">
                            <input id="float-input-comp-slug" type="text" formControlName="organizationSlugJoin" name="comp-slug"
                                pInputText [(ngModel)]="organizationSlugJoins">
                            <label for="float-input-comp-slug">Organization slug</label>
                        </span>
                        <div *ngIf="organizationStep && organizationSlugJoin?.touched && organizationSlugJoin?.invalid"
                            class="validation">
                            <small *ngIf="organizationSlugJoin.errors?.required">Сan not be empty</small>
                            <small *ngIf="organizationSlugJoin.errors?.minlength">Min length 3</small>
                            <small *ngIf="organizationSlugJoin.errors?.maxlength">Max length 50</small>
                            <small *ngIf="organizationSlugJoin.errors?.doesntExist">Doesnt exist organization</small>
                            <small *ngIf="organizationSlugJoin.errors?.pattern">May contain letters, numbers,
                                space, dashes and underscores</small>
                        </div>
                    </div>
                </div>
            </form>
        </p-tabPanel>
        </p-tabView>
</div>
<div class="submit-block" *ngIf="step === stepRegistration.OrganizationData">
    <span>
        <button pButton class="submit-button p-button-outlined" label="Previous" (click)="previous()"></button>
    </span>
    <span>
        <button pButton class="submit-button p-button-outlined" label="Submit" (click)="submit()"
            [disabled]="!ogranizationJoin.valid && !ogranizationDetail.valid"></button>
    </span>
</div>

