<p-dialog
    [visible]="true"
    [style]="{width: '35vw'}"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closable]="false">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <p-panel header="Creating new dashboard">
            <div class="ui-fluid forms-grid" style="margin: 1em 0">
                <div>
                    <div>Dashboard name</div>
                    <input type="text" formControlName="name" placeholder="Name"/>
                    <p-message
                        severity="error"
                        text="Dashboard name invalid"
                        *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].dirty">
                    </p-message>
                </div>
                <div>
                    <div>Icon</div>
                    <select formControlName="icon">
                        <option *ngFor="let icon of icons" value="{{icon}}">{{icon}}</option>
                    </select>
                </div>
                <button class="button create-button" type="submit" [disabled]="!formGroup.valid">Create</button>
                <button class="button cancel-button" (click)="closeModal.emit()">Cancel</button>
            </div>
        </p-panel>
    </form>
</p-dialog>
