@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap')

.modal-content
    padding: 10px
    border: none

    input[type="text"], select
        width: 100%
        padding: 12px 20px
        margin: 8px 0
        border: 1px solid #ccc
        border-radius: 4px

.button
    width: 100%
    font-family: "DM Sans", serif
    font-weight: 520
    background-color: rgb(0, 0, 0, 0)
    border: none
    padding: 12px 16px
    font-size: 16px
    cursor: pointer
    transition: 200ms all ease-in-out
    color: #050505
    &:hover
        color: rgb(0, 0, 0, 0.5)
