<p-dialog [visible]="true" [modal]="true" [draggable]="false" [resizable]="false" [closable]="false">
    <form [formGroup]="formGroup" (ngSubmit)="saveHandle()">
        <p-panel header="Dashboard creating">
                <div>Dashboard name</div>
                <input type="text" pInputText formControlName="name">
                <div *ngIf="formGroup.controls.name.touched && formGroup.controls.name.invalid" class="validation">
                    <small *ngIf="formGroup.controls.name.errors.required">Field name can't be empty</small>
                    <small *ngIf="formGroup.controls.name.value.length < 3">Min name length 3</small>
                    <small *ngIf="formGroup.controls.name.value.length > 3">Max name length 50</small>
                    <small *ngIf="formGroup.controls.name.hasError('pattern')">Name must contain letters, numbers, underscore, dot, space</small>
                </div>
                <div>Icon</div>
                <p-dropdown
                    [autoDisplayFirst]="false"
                    [options]="icons"
                    formControlName="icon"
                    placeholder="Icon"
                    styleClass="dropdown">
                </p-dropdown>
            <button pButton pRipple type="submit" label="Save" class="p-button-success" [disabled]="!formGroup.valid">
            </button>
            <button pButton pRipple type="button" label="Cancel" class="p-button-danger" (click)="closeModal.emit()">
            </button>

        </p-panel>
    </form>
</p-dialog>
