@import src/styles/variables

button
    margin: 4px 0
    width: 45%

.buttons-container
    display: flex
    justify-content: space-between
    margin-top: 80px

.p-button-text
    background-color: $background-color

.input-section
    padding: 8px 0

:host ::ng-deep
    .p-dropdown
        height: 40px
        width: 100%
        margin: 5px auto

:host ::ng-deep
    .p-inputtext
        margin: 5px auto
        width: 100%
        height: 40px

:host ::ng-deep
    .p-dialog
        width: 30vw
        .p-dialog-header
            display: none
        .p-dialog-content
            padding: 0
:host ::ng-deep
    .p-panel
        .p-panel-header,
        .p-panel-content
            border-radius: 0

.validation
    width: 100%
    margin: 4px auto
    color: $validation-color
    font-size: 12px
    small
        display: block
        margin-top: 3px
