<div class="modal-container">
    <form [formGroup]="formGroup" (ngSubmit)="saveHandle()">
        <div class="input-section">
            <span class="p-float-label">
                <input id="float-input-dashboard-name" type="text" pInputText formControlName="name">
                <label for="float-input-dashboard-name">Dashboard name</label>
            </span>
            <div *ngIf="name.touched && name.invalid" class="validation">
                <small *ngIf="name.errors?.required">Field name can't be empty</small>
                <small *ngIf="name.errors?.minlength || name.errors?.maxlength">
                    Length must be between 3 and 50 characters.
                </small>
                <small *ngIf="name.errors?.notUnique">Dashboard name is not unique</small>
                <small *ngIf="name.errors?.pattern">Name must contain latin letters, numbers,
                    underscores, dashes, dots or spaces</small>
            </div>
        </div>
        <div class="input-section">
            <label>Icon</label>
            <ul>
                <li *ngFor="let icon of icons" (click)="onSelect(icon)"
                    [ngClass]="{ 'selected': icon.label === this.selectedIcon.label}">
                    <div class="icon-container">
                        <i [ngClass]="icon.label"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-container">
            <button pButton pRipple type="button" label="Cancel" class="p-button-secondary p-button-outlined"
                (click)="close()">
            </button>
            <button pButton pRipple type="submit" label="Save" class="p-button-primary p-button-outlined"
                [disabled]="!formGroup.valid || !this.selectedIcon">
            </button>
        </div>
    </form>
</div>