@import src/styles/variables

button
    margin: 4px 0
    width: 45%

.buttons-container
    display: flex
    justify-content: space-between

.input-section
    padding: 8px 0

ul
    list-style: none
    display: flex
    flex-direction: row
    width: fit-content
    margin: 5px 0 0
    padding: 5px 0 0

li
    display: block
    padding: 10px
    width: 40px
    height: 40px
    border-radius: 5px
    margin-right: 5px
    &:hover
        background-color: $hover-color
    .icon-container
        display: flex
        justify-content: center
        align-items: center
        margin-top: 2px

.selected
    background-color: lightgray

:host ::ng-deep
    .p-inputtext
        margin: 5px auto
        width: 100%
        height: 40px

:host ::ng-deep
    .p-dialog
        width: 30vw
        .p-dialog-header
            display: none
        .p-dialog-content
            padding: 0
:host ::ng-deep
    .p-panel
        overflow-y: hidden
        .p-panel-header,
        .p-panel-content
            border-radius: 0
