@import src/styles/variables

.modal-container
    padding-top: 15px
    width: 350px
    button
        margin: 4px 0
        width: 45%

    .buttons-container
        display: flex
        justify-content: space-between

    .input-section
        padding: 8px 0
        position: relative

    ul
        width: 100%
        list-style: none
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        justify-content: space-evenly
        justify-items: center
        align-content: space-evenly
        align-items: center
        margin: 10px 0 0
        padding: 5px 0 0

    li
        display: block
        padding: 15px
        margin: 5px
        width: 50px
        height: 50px
        border-radius: 5px
        &:hover
            background-color: $hover-color
        .icon-container
            display: flex
            justify-content: center
            align-items: center
            margin-top: 2px
            .pi
                font-size: 1.2em

    .selected
        background-color: lightgray

:host ::ng-deep
    .p-inputtext
        width: 100%
