@import 'variables'
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap')
*
    box-sizing: border-box

body
    font-family: "DM Sans"
    overflow-x: hidden

*:focus,
.p-focus
    box-shadow: none !important

html
    scroll-behavior: smooth

strong
    font-weight: bold

code
    font-family: monospace

button:disabled
    opacity: 0.6
    background-color: rgba(96, 125, 139, 0.07) !important

.validation
    width: 100%
    margin: 4px auto
    color: $validation-color
    font-size: 12px
    small
        display: block
        margin-top: 3px
