/* import these always the last */
@import 'global'
@import 'loader'
@import 'variables'


.validation
    width: 100%
    margin: 4px auto
    color: $validation-color
    font-size: 12px
    small
        display: block
        margin-top: 3px