@import ./variables
$side: 50px

.default-loader
  size: $side
  top: 25vh
  left: calc(49% - 25px)
  position: absolute
  margin: 100px auto

.loader-overlay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.2)
  display: flex
  z-index: 1049
  justify-content: center
  align-items: center

.spinner
  top: calc(50vh - 25px)
  left: calc(50% - 25px)
  display: inline-block
  position: absolute

.spinner div
  position: absolute
  z-index: 1
  width: $side
  height: $side
  border: 4px solid
  border-radius: 50%
  animation: spin 1.2s infinite
  border-color: $primary-color-darker transparent transparent transparent

.spinner
  .first-segment
    animation-delay: -0.6s
    z-index: 3
  .second-segment
    animation-delay: -0.463s
    z-index: 2
  .third-segment
    animation-delay: -0.327s
    z-index: 1

@keyframes spin
  0% 
    transform: rotate(0deg)
  
  100% 
    transform: rotate(360deg)
