$indent: 30px
$half-indent: 15px

$text-color: var(--text-color) // black
$text-color-secondary: var(--text-color-secondary) // gray

$primary-color-text: var(--primary-color-text) // white

$primary-color-lightest: var(--blue-200)    
$primary-color-lighter: var(--blue-300)  
$primary-color-light: var(--blue-400)  
$primary-color: var(--primary-color)
$primary-color-dark: var(--blue-600)
$primary-color-darker: var(--blue-700) 
$primary-color-darkest: var(--blue-800)   

$validation-color: red

$tag-color: var(--purple-200)

$background-color: #f3f3f3
$shadow-color: rgba(34, 60, 80, 0.2)

$border-color:  rgb(231, 225, 236)
