$half-indent: var(--content-padding)
$indent: 1rem*2
$input-height: 40px
$title-hight: 75px

$text-color: black // black
$text-color-secondary: var(--text-color-secondary) // gray

$primary-color-text: var(--primary-color-text) // white

$primary-color-lightest: var(--blue-200)
$primary-color-lighter: var(--blue-300)
$primary-color-light: var(--blue-400)
$primary-color: var(--primary-color)
$primary-color-dark: var(--blue-600)
$primary-color-darker: var(--blue-700)
$primary-color-darkest: var(--blue-800)

$validation-color: red
$penging-color: var(--surface-100)

$tag-color: var(--purple-200)

$background-color: #f3f3f3
$shadow-color: rgba(34, 60, 80, 0.2)

$button-disable-color: rgba(96, 125, 139, 0.07)
$card-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)

$hover-color: var(--blue-100)
$text-hover-color: var(--blue-600)

$border-color: rgb(231, 225, 236)

$info-color: rgb(210, 223, 247)
$warning-color: rgb(253, 232, 180)
$error-color: rgb(252, 198, 200)
$debug-color: rgb(231, 225, 236)

$background-hover-color: #f3f3f3c4

$placeholder-text-color: grey
$star-color: rgb(245, 207, 35)

$link-color: var(--indigo-300)

//dashboard modal
$selected-color: lightgray

//issue-details
$issue-info-border-color: white

// issue-events
$table-secondary-color: #9386A0FF

// issue-details-stacktrace
$stacktrace-method-name-color: deepskyblue
$stacktrace-line-number-color: orange
$stacktrace-column-color: orange
$stacktrace-file-color: green

//p-dialog
$p-dialog-header-border-color: #dee2e6
$p-dialog-header-background-color: #f8f9fa
