<div class="layout-wrapper">

    <div class="layout-topbar">
        <div class="logo">
            <a routerLink="/home">
                <img alt="logo" src="assets/logo-white.svg">
            </a>
        </div>
        <div *ngIf="!authorizedUser" class="user-info">
            <button class="p-button-outlined sign-in-button" label="Sign in" pButton pRipple type="button"></button>
        </div>
        <div *ngIf="authorizedUser" class="user-info">
            <img alt="Ava" class="avatar" src="assets/avatar.png">
            <div class="user-name" routerLink="/user">{{authorizedUser.firstName}}</div>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-avatar">
            <app-organization-menu></app-organization-menu>
        </div>
        <div class="sidebar-top">
            <div>
                <button [routerLinkActive]="['active']" class="button" routerLink="projects">
                    <i class="pi pi-file"></i>
                    <span>Projects</span>
                </button>
            </div>

            <div>
                <button [routerLinkActive]="['active']" class="button" routerLink="issues">
                    <i class="pi pi-exclamation-circle"></i>
                    <span>Issues</span>
                </button>
            </div>

            <div>
                <button (click)="dashboardsShown = !dashboardsShown" class="button">
                    <i class="pi pi-chart-line"></i>
                    <span>Dashboards</span>
                    <i *ngIf="!dashboardsShown" class="pi pi-angle-down"></i>
                    <i *ngIf="dashboardsShown" class="pi pi-angle-up"></i>
                </button>
            </div>
            <div class="dashboards-buttons">
                <div *ngFor="let dashboard of dashboards" [class.dashboards-none]="!dashboardsShown"
                     [class.dashboards]="dashboardsShown">
                    <button [routerLinkActive]="['active']" [routerLink]="['dashboard', dashboard.id]" class="button">
                        <i class="pi {{dashboard.icon}}"></i>
                        <span>{{dashboard.name}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="sidebar-bottom">
            <button (click)="displayModal=true" class="button">
                <i class="pi pi-plus"></i>
                <span>Add dashboard</span>
            </button>
            <button class="button">
                <i class="pi pi-angle-left"></i>
                <span>Collapse</span>
            </button>
        </div>
    </div>

    <app-add-dashboard (closeModal)="displayModal = !displayModal" (save)="addDashboard($event)" *ngIf="displayModal">
    </app-add-dashboard>

    <div class="home-content-wrp">
        <router-outlet></router-outlet>
    </div>

</div>
