<div class="layout-wrapper">

    <div class="layout-topbar">
        <div class="logo">
            <img src="assets\logo-white.svg" alt="logo">
        </div>
        <div *ngIf="!user" class="user-info">
            <button pButton pRipple type="button" label="Sign in" class="p-button-outlined sign-in-button"></button>
        </div>
        <div *ngIf="user" class="user-info">
            <img class="user-avatar" src="assets\avatar.png" alt="Ava">
            <div routerLink="/user" class="user-name">{{user.firstName}}</div>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-avatar">
            <app-organization-menu></app-organization-menu>
        </div>
        <div class="sidebar-top">
            <div>
                <button class="button" routerLink="projects" [routerLinkActive]="['active']">
                    <i class="pi pi-file"></i>
                    <span>Projects</span>
                </button>
            </div>

            <div>
                <button class="button" routerLink="issues" [routerLinkActive]="['active']">
                    <i class="pi pi-exclamation-circle"></i>
                    <span>Issues</span>
                </button>
            </div>

            <div>
                <button class="button" (click)="dashboardsShown = !dashboardsShown">
                    <i class="pi pi-chart-line"></i>
                    <span>Dashboards</span>
                    <i class="pi pi-angle-down" *ngIf="!dashboardsShown"></i>
                    <i class="pi pi-angle-up" *ngIf="dashboardsShown"></i>
                </button>
            </div>

            <div [class.dashboards-none]="!dashboardsShown" [class.dashboards]="dashboardsShown"
                *ngFor="let dashboard of dashboards">
                <button class="button" [routerLink]="['dashboard', dashboard.id]" [routerLinkActive]="['active']">
                    <i class="pi {{dashboard.icon}}"></i>
                    <span>{{dashboard.name}}</span>
                </button>
            </div>
        </div>
        <div class="sidebar-bottom">
            <button class="button" (click)="displayModal=true">
                <i class="pi pi-plus"></i>
                <span>Add dashboard</span>
            </button>
            <button class="button">
                <i class="pi pi-angle-left"></i>
                <span>Collapse</span>
            </button>
        </div>
    </div>

    <app-add-dashboard *ngIf="displayModal" (save)="addDashboard($event)" (closeModal)="displayModal = !displayModal">
    </app-add-dashboard>

    <div class="home-content-wrp">
        <router-outlet></router-outlet>
    </div>

</div>
