<div class="layout-wrapper">
    <!--    Header    -->
    <div class="layout-topbar">
        <!--    Logo    -->
        <div [routerLink]="['../home']" class="logo">
            <img alt="logo" src="assets/logo-white.svg">
        </div>
        <!--    User menu button    -->
        <div *ngIf="!user" class="user-info">
            <button class="p-button-outlined sign-in-button" label="Sign in" pButton pRipple type="button"></button>
        </div>
        <div *ngIf="user" class="user-info">
            <img [src]="user.avatarUrl ?? 'assets\\avatar.png'" alt="Avatar" class="user-avatar">
            <div (click)="menu.toggle($event)" class="user-name">{{user.firstName}} {{user.lastName}}</div>
            <p-menu #menu [model]="userItems" [popup]="true"></p-menu>
        </div>
    </div>
    <!--    Sidebar    -->
    <div [class.collapsed-sidebar]="collapsed" class="sidebar">
        <app-organization-menu [collapsed]="collapsed" class="sidebar-avatar"></app-organization-menu>
        <!--    Sidebar buttons    -->
        <div class="sidebar-top">
            <!--    Members button    -->
            <div>
                <button [routerLinkActive]="['active']" class="button" pTooltip="{{collapsed ? 'Members' : undefined}}"
                    routerLink="members">
                    <i class="pi pi-user"></i>
                    <span *ngIf="!collapsed">Members</span>
                </button>
            </div>
            <!--    Teams button    -->
            <div>
                <button [routerLinkActive]="['active']" class="button" pTooltip="{{collapsed ? 'Teams' : undefined}}"
                    routerLink="teams">
                    <i class="pi pi-users"></i>
                    <span *ngIf="!collapsed">Teams</span>
                </button>
            </div>
            <!--    Projects button    -->
            <div>
                <button [routerLinkActive]="['active']" class="button" pTooltip="{{collapsed ? 'Projects' : undefined}}"
                    routerLink="projects">
                    <i class="pi pi-file"></i>
                    <span *ngIf="!collapsed">Projects</span>
                </button>
            </div>

            <!--    Issues button    -->
            <div>
                <button [routerLinkActive]="['active']" class="button" pTooltip="{{collapsed ? 'Issues' : undefined}}"
                    routerLink="issues">
                    <i class="pi pi-exclamation-circle"></i>
                    <span *ngIf="!collapsed">Issues</span>
                </button>
            </div>
            <!--    Dashboards button    -->
            <div>
                <button (click)="dashboardsShown = !dashboardsShown" class="button"
                    pTooltip="{{collapsed ? 'Dashboards' : undefined}}">
                    <ng-template [ngIf]="!collapsed">
                        <i class="pi pi-chart-line"></i>
                        <span>Dashboards</span>
                    </ng-template>
                    <i [ngClass]="{
                    'pi-angle-up': dashboardsShown,
                    'pi-angle-down': !dashboardsShown
                    }" class="pi"></i>
                </button>
            </div>
            <!--    Dashboard buttons    -->
            <div [ngClass]="{
                'dashboards-none' : !dashboardsShown,
                'dashboards': dashboardsShown && !collapsed,
                'dashboards-collapsed': dashboardsShown && collapsed
                }">
                <div *ngFor="let dashboard of dashboards">
                    <button [routerLinkActive]="['active']" [routerLink]="['dashboard', dashboard.id]"
                        class="button dashboard" pTooltip="{{collapsed ? dashboard.name : undefined}}">
                        <i class="pi {{dashboard.icon}}"></i>
                        <span *ngIf="!collapsed" appTooltipFullName>{{dashboard.name}}</span>
                    </button>
                </div>
                <!--    Add dashboard button    -->
                <button (click)="openAddDashboarDialog()" class="button dashboard add-button"
                    pTooltip="{{collapsed ? 'Add dashboard' : undefined}}">
                    <i class="pi pi-plus"></i>
                    <span *ngIf="!collapsed">Add</span>
                </button>
            </div>
            <!--    Setting button    -->
            <div>
                <button [routerLinkActive]="['active']" class="button" pTooltip="{{collapsed ? 'Settings' : undefined}}"
                    routerLink="organization/settings">
                    <i class="pi pi-cog"></i>
                    <span *ngIf="!collapsed">Settings</span>
                </button>
            </div>
        </div>
        <!--    Collapse button    -->
        <div class="sidebar-bottom">
            <button (click)="collapsed = !collapsed" class="button collapse-button">
                <ng-template [ngIfElse]="angleRight" [ngIf]="!collapsed">
                    <i class="pi pi-angle-left"></i>
                    <span>Collapse</span>
                </ng-template>
                <ng-template #angleRight>
                    <i class="pi pi-angle-right" pTooltip="{{collapsed ? 'Expand' : undefined}}"></i>
                </ng-template>
            </button>
        </div>
    </div>

    <!--    Main content    -->
    <div [class.collapsed-home-content-wrp]="collapsed" class="home-content-wrp">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <app-add-dashboard (closeModal)="displayModal = !displayModal" (save)="addDashboard($event)" *ngIf="displayModal">
</app-add-dashboard> -->