<h1 class="content-title">
    Edit Project
    <div class="header-buttons">
        <button #saveBut pButton pRipple class="p-button-primary p-button-outlined" label="Save" (click)="updateProjectFunction()"
        [disabled]="!editForm.valid || !updateProject.platformId"></button>
        <button pButton pRipple class="p-button-secondary p-button-outlined" label="Reset" (click)="reset()"></button>
        <button pButton pRipple label="Delete" class="p-button-outlined p-button-danger" (click)="deleteProject(this.id)"></button>
    </div>
</h1>
<div *ngIf="project" class="edit-project-container">
    <!--    Platform Section    -->
    <div class="choose-platform-section">
        <h2 class="title">Choose a platform</h2>
        <p-tabMenu [activeItem]="platforms.platformTabItems[0]" [model]="platforms.platformTabItems"></p-tabMenu>
        <!--    Platform Cards    -->
        <div class="platform-cards">
                <div (click)="updateProject.platformId = platform.id"
                 *ngFor="let platform of platforms.viewPlatformCards"
                 [ngClass]="{ 'selected-card': platform.id === this.updateProject.platformId}" class="card">
                <img alt="{{platform.name}}" [src]="platform.avatarUrl | save">
                <h3>{{platform.name}}</h3>
            </div>
        </div>
    </div>
    <!--    Platform is not selected Warning    -->
    <small *ngIf="!updateProject.platformId" class="p-error">
        Please choose a platform
    </small>
    <!--    Name and Team inputs    -->
    <div class="project-name-settings">
        <h2 class="title">Project name and description</h2>
        <p-divider></p-divider>
        <div class="name-settings">
            <!--    Name input    -->
            <form [formGroup]="editForm" class="project-name">
                <span class="title">Project name</span>
                <div class="p-input-icon-left">
                    <i class="pi pi-file"></i>
                    <input formControlName="projectName" pInputText placeholder="Project name" class="project-name-input">
                </div>
                <div *ngIf="projectName.touched && projectName.invalid"
                     class="input-validation-error">
                    <small *ngIf="projectName.errors.required" class="p-error">
                        Сan not be empty
                    </small>
                    <small *ngIf="projectName.errors.minlength" class="p-error">
                        At least 3 characters
                    </small>
                    <small *ngIf="projectName.errors.maxlength" class="p-error">
                        No more than 50 characters
                    </small>
                    <small *ngIf="projectName.errors.pattern" class="p-error">
                        May contain lowercase (a-z) and uppercase (A-Z) letters, numbers (0-9), dashes,
                        underscores and spaces
                    </small>
                </div>
            </form>
            <!-- Description -->
            <form [formGroup]="editForm" class="project-description">
                <span class="title">Description</span>
                <textarea [autoResize]="true" formControlName="projectDescription" pInputTextarea
                    placeholder="Description"
                    type="textarea" maxlength="1000">
                </textarea>
                <div *ngIf="projectDescription.touched && projectDescription.invalid"
                     class="validation">
                     <small *ngIf="projectDescription.errors.maxlength" class="p-error">
                        No more than 1000 characters
                    </small>
                    <small *ngIf="projectDescription.errors.pattern" class="p-error">
                        May contain lowercase (a-z) and uppercase (A-Z) letters, numbers (0-9) and symbols<br>-_!#$%&'*+—/=?^`&#123;|&#125;~.,:;`"\№@()<>[]
                    </small>
                </div>

            </form>
        </div>
    </div>
</div>

