<h1 class="content-title">
    Edit Project
    <div class="header-buttons">
        <button #saveBut pButton pRipple class="p-button-primary p-button-outlined" label="Save" (click)="createProject()"
        [disabled]="!editForm.valid || !newProject.platformId"></button>
        <button pButton pRipple class="p-button-secondary p-button-outlined" label="Reset" (click)="reset()"></button>
    </div>
</h1>
<div class="edit-project-container">
    <!--    Name and Team inputs    -->
    <div class="project-name-settings">
        <h2 class="title">Project name and description</h2>
        <p-divider></p-divider>
        <div class="name-settings">
            <!--    Name input    -->
            <div [formGroup]="editForm" class="project-name">
                <span class="title">Project name</span>
                <div class="p-input-icon-left">
                    <i class="pi pi-file"></i>
                    <input formControlName="projectName" pInputText placeholder="Project name" class="project-name-input">
                </div>
                <div *ngIf="projectName.touched && projectName.invalid"
                     class="input-validation-error">
                    <small *ngIf="projectName.errors.required" class="p-error">
                        Сan not be empty
                    </small>
                    <small *ngIf="projectName.errors.minlength" class="p-error">
                        At least 3 characters
                    </small>
                    <small *ngIf="projectName.errors.maxlength" class="p-error">
                        No more than 50 characters
                    </small>
                    <small *ngIf="projectName.errors.pattern" class="p-error">
                        May contain lowercase (a-z) and uppercase (A-Z) letters, numbers (0-9), dashes,
                        underscores and spaces
                    </small>
                </div>

            </div>
            <!--    Team DropDown   -->
            <div [formGroup]="editForm" class="project-team">
                <span class="title">Team</span>
                <div class="dropdown-with-button">
                    <p-dropdown [options]="teams" aria-describedby="team" class="radiobutton-settings-alert-type"
                                formControlName="team" optionLabel="name" placeholder="Select team" optionValue="id">
                        <ng-template let-team pTemplate="item">#{{team.name}}</ng-template>
                        <ng-template let-team pTemplate="selectedItem">#{{team.name}}</ng-template>
                    </p-dropdown>

                </div>
                    <!-- Team not selected Warning -->
                <div *ngIf="editForm.controls.team.dirty && editForm.controls.team.invalid"
                     class="input-validation-error">
                    <small *ngIf="editForm.controls.team.errors.required" class="p-error">
                        Required field
                    </small>
                </div>
            </div>
            <div class="add-team-block">
                <button class="p-button-text button-add-team" icon="pi pi-plus-circle" pButton pRipple
                pTooltip="Create a team"
                tooltipPosition="top" type="button"
                (click) = "openDialog()"></button>
            </div>
            <!-- Description -->
            <div [formGroup]="editForm" class="project-description">
                <span class="title">Description</span>
                <textarea [autoResize]="true" formControlName="projectDescription" pInputTextarea
                    placeholder="Description"
                    type="textarea" maxlength="1000">
                </textarea>
                <div *ngIf="projectDescription.touched && projectDescription.invalid"
                     class="validation">
                     <small *ngIf="projectDescription.errors.maxlength" class="p-error">
                        No more than 1000 characters
                    </small>
                    <small *ngIf="projectDescription.errors.pattern" class="p-error">
                        May contain lowercase (a-z) and uppercase (A-Z) letters, numbers (0-9) and symbols<br>-_!#$%&'*+—/=?^`&#123;|&#125;~.,:;`"\№@()<>[]
                    </small>
                </div>

            </div>
        </div>
    </div>
    <!--    Alert RadioButtons    -->
    <!-- <div class="alert-settings">
        <h2 class="title">Alert settings</h2>
        <p-divider></p-divider>

        <div *ngFor="let category of alertData.alertCategories" class="alert-form">
            <form [formGroup]="formGroup">
                <p-radioButton [inputId]="category.value.toString()" [value]="category.value" [label]="category.label"
                               formControlName="alertCategory" name="alertCategory">
                </p-radioButton>
            </form>
                Specific Alert Settings
            <div class="special-settings" *ngIf="category.value === 3">
                <p-inputNumber [(ngModel)]="alertSetting.specialAlertSetting.alertsCount"
                               [disabled]="formGroup.controls.alertCategory.value !== 3"
                               [min]="0" [showButtons]="true" [size]="2" [step]="1"
                               class="radiobutton-settings-alerts-count"
                               mode="decimal"
                               incrementButtonClass="p-button-outlined"
                               decrementButtonClass="p-button-outlined">
                </p-inputNumber>
                <p-dropdown [(ngModel)]="alertSetting.specialAlertSetting.specialAlertType"
                            [disabled]="formGroup.controls.alertCategory.value !== 3"
                            [options]="alertData.alertTypes"
                            optionValue="value" optionLabel="label"
                            class="radiobutton-settings-alert-type">
                </p-dropdown>
                <span>a unique error in</span>
                <p-dropdown [(ngModel)]="alertSetting.specialAlertSetting.alertTimeInterval"
                            [disabled]="formGroup.controls.alertCategory.value !== 3"
                            [options]="alertData.alertTimeIntervals"
                            optionValue="value" optionLabel="label"
                            class="radiobutton-settings-alert-type"
                >
                </p-dropdown>
            </div>
        </div>
    </div> -->

</div>

