<p-dialog [(visible)]="display" appendTo="body" [modal]="true" styleClass="new-org">
    <ng-template pTemplate="header">
        <span class="header">Organization</span>
    </ng-template>
    <p-tabView (onChange)="handleChange($event)">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="header">
                    <span>Create</span>
                </div>
            </ng-template>
            <form [formGroup]="formGroup" method="POST">
                <div class="reg-block">
                    <div class="input-block">
                        <span class="p-float-label">
                            <input id="float-input-comp-name" type="text" formControlName="organizationName" name="comp-name"
                                pInputText>
                            <label for="float-input-comp-name">Organization name</label>
                        </span>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                            class="validation">
                            <small *ngIf="name.errors.required">Сan not be empty</small>
                            <small *ngIf="name.value?.length < 3">Min length 3</small>
                            <small *ngIf="name.value?.length > 50">Max length 50</small>
                            <small *ngIf="name.hasError('pattern')">May contain letters, numbers,
                                space, special character: !#$%&‘*+—/=?^_`&#123;|&#125;~</small>
                        </div>
                    </div>
                    <div class="input-block">
                        <span class="p-float-label p-input-icon-right">
                            <i *ngIf="slug?.pending" class="pi pi-spin pi-spinner"></i>
                            <input id="float-input-comp-slug" type="text" formControlName="organizationSlug" name="comp-slug"
                                pInputText>
                            <label for="float-input-comp-slug">Organization slug</label>
                        </span>
                        <div *ngIf="slug.invalid && (slug.dirty || slug.touched)"
                            class="validation">
                            <small *ngIf="slug.errors.required">Сan not be empty</small>
                            <small *ngIf="slug.value?.length < 3">Min length 3</small>
                            <small *ngIf="slug.value?.length > 50">Max length 50</small>
                            <small *ngIf="slug.errors?.notUnique">Slug is not unique</small>
                            <small *ngIf="slug.hasError('pattern')">May contain letters, numbers,
                                space, dashes and underscores</small>
                        </div>
                    </div>
                </div>
            </form>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="header">
                    <span>Join</span>
                </div>
            </ng-template>
            <form [formGroup]="formGroupJoin" method="POST">
                <div class="reg-block">
                    <div class="input-block">
                        <span class="p-float-label p-input-icon-right">
                            <i *ngIf="slugForJoin?.pending" class="pi pi-spin pi-spinner"></i>
                            <input id="float-input-comp-slug" type="text" formControlName="organizationSlugJoin" name="comp-slug"
                                pInputText>
                            <label for="float-input-comp-slug">Organization slug</label>
                        </span>
                        <div *ngIf="slugForJoin.invalid && (slugForJoin.dirty || slugForJoin.touched)"
                            class="validation">
                            <small *ngIf="slugForJoin.errors.required">Сan not be empty</small>
                            <small *ngIf="slugForJoin.value?.length < 3">Min length 3</small>
                            <small *ngIf="slugForJoin.value?.length > 50">Max length 50</small>
                            <small *ngIf="slugForJoin.errors?.doesntExist">Doesnt exist organization</small>
                            <small *ngIf="slugForJoin.hasError('pattern')">May contain letters, numbers,
                                space, dashes and underscores</small>
                        </div>
                    </div>
                </div>
            </form>
        </p-tabPanel>
    </p-tabView>

    <ng-template pTemplate="footer">
        <button
            pButton
            type="button"
            label="Cancel"
            class="p-button-secondary p-button-outlined"
            (click)="display=false">
        </button>
        <button
            pButton
            type="submit"
            label="Submit"
            class="p-button-primary p-button-outlined"
            [disabled]="(indexOfSelectedTab === 0 && !formGroup.valid) || (indexOfSelectedTab === 1 && !formGroupJoin.valid)"
            (click)="submit()">
        </button>
    </ng-template>
</p-dialog>
