@import src/styles/variables
@import src/styles/mixins

.user-info
    display: flex
    padding-left: 14px

.avatar
    margin-right: 20px
    width: 64px
    height: 64px

.avatar img
    display: block
    max-width: 100%
    border-radius: 50%

.user-info-body li
    padding-top: 7px
    padding-bottom: 7px
    padding-left: 7px

#user-name, h3, h4
    font-weight: bold
    padding-left: 14px
