<p-panel header="Profile settings" class="container-group">
    <div class="user-info">
        <div class="user-avatar">
            <img src="https://www.gravatar.com/avatar/213dd2d1498b722e98be7fdee00c2769?d=mp&r=pg&s=128"
                alt="avatar">
        </div>
    </div>
    <form class="item" [formGroup]="editForm">
        <label class="item-definition">
            <div>Email</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <input pInputText formControlName="email" class="item-form-field">
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="p-error">
                    <small *ngIf="email.errors?.required">This field is required.</small>
                    <small *ngIf="email.errors?.minlength || email.errors?.maxlength">
                        Length must be between 3 and 50 characters.
                    </small>
                    <small *ngIf="email.errors?.pattern">You can use only _, -, A-Z, a-z.</small>
                    <small *ngIf="email.errors?.notUnique">Slug is not unique, try again.</small>
                    <small *ngIf="email.errors?.serverError">Server error.</small>
                </div>
            </div>
        </div>
    </form>
    <form class="item" [formGroup]="editForm">
        <label class="item-definition">
            <div>First name</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <input pInputText name="firstName" formControlName="firstName" type="text" class="item-form-field"
                     required="">
                    <!-- <div class="p-error" [hidden]="firstName.valid || firstName.untouched">
                        First name is needed
                    </div> -->
            </div>
        </div>
    </form>
    <form class="item" [formGroup]="editForm">
        <label class="item-definition">
            <div>Last name</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <input pInputText name="lastName" formControlName="lastName" type="text" class="item-form-field"
                     required="">
                    <!-- <div class="p-error" [hidden]="lastName.valid || lastName.untouched">
                        Last name is needed
                    </div> -->
            </div>
        </div>
    </form>
</p-panel>
