<!--    Header    -->
<div class="header">
    <div class="left-side">
        <button class="p-button-outlined back-button" icon="pi pi-chevron-left " pButton pRipple
            pTooltip="Back to Issues" routerLink="../../" tooltipPosition="bottom">
        </button>
        <h2 appTooltipFullName>{{issueMessage?.issueDetails.className}}</h2>
    </div>
    <div *ngIf="issue && !isNotFound">
        <p-dropdown (onChange)="onSelectedIssueStatus()" [(ngModel)]="selected" [disabled]="isLoadingStatus" [ngClass]="{
        'dropdown-active-status': selected === IssueStatus.Active,
        'dropdown-resolved-status': selected === IssueStatus.Resolved,
        'dropdown-ignored-status': selected === IssueStatus.Ignored
        }" [options]="issueStatusDropdownItems" optionLabel="name" optionValue="type" styleClass="dropdown">
        </p-dropdown>
    </div>
</div>
<!--    NotFound    -->
<div *ngIf="isNotFound">
    <app-not-found></app-not-found>
</div>
<ng-template [ngIf]="issueMessage && issue && !isNotFound">
    <!--    Content    -->
    <div class="content">
        <p-tabView [(activeIndex)]="activeTabIndex" styleClass="tabview">
            <p-tabPanel header="Issue details">
                <ng-template pTemplate="content">
                    <app-issue-details [issueMessage]="issueMessage" [issue]="issue"></app-issue-details>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Environment">
                <ng-template pTemplate="content">
                    <app-issue-environment [issueEnvironment]="issueMessage.issueDetails.environmentMessage">
                    </app-issue-environment>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel *ngIf="issueMessage.issueDetails.responseErrorMessage" header="HTTP">
                <ng-template pTemplate="content">
                    <app-issue-http [issueHttpResponse]="issueMessage.issueDetails.responseErrorMessage">
                    </app-issue-http>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel *ngIf="issueMessage.issueDetails.breadcrumbs?.length" header="Breadcrumbs">
                <ng-template pTemplate="content">
                    <app-breadcrumbs [issueMessage]="issueMessage"></app-breadcrumbs>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Events">
                <ng-template pTemplate="content">
                    <app-issue-events [issueMessage]="issueMessage"></app-issue-events>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel [disabled]="!solutionItems?.length" header="Stackoverflow solutions">
                <ng-template pTemplate="content">
                    <div class="solution-item">
                        <p-table [value]="solutionItems">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="link-field">Link</th>
                                    <th>Suggestions count</th>
                                    <th>Question rating</th>
                                    <th>Views count</th>
                                    <th>Has answer</th>
                                </tr>
                            </ng-template>
                            <ng-template let-solutionItem pTemplate="body">
                                <tr>
                                    <td><a appTooltipFullName href="{{solutionItem.link}}" target="_blank">{{solutionItem.link}}</a></td>
                                    <td class="centered">{{solutionItem.answerCount}}</td>
                                    <td class="centered">{{solutionItem.score}}</td>
                                    <td class="centered">{{solutionItem.viewCount}}</td>
                                    <td>{{solutionItem.isAnswered ? 'Yes' : 'No'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>

</ng-template>
