<p-panel header="General" class="container-group">
    <form [formGroup]="parentForm" class="item">
        <label class="item-definition">
            <div>Organization Slug</div>
            <div class="item-sub-text">A unique ID used to identify this organization</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <i *ngIf="organizationSlug?.pending" class="pi pi-spin pi-spinner"></i>
                <input formControlName="organizationSlug" class="item-form-field" pInputText
                    placeholder="Organization Slug">
                <div *ngIf="organizationSlug.invalid && (organizationSlug.dirty || organizationSlug.touched)"
                    class="p-error">
                    <small *ngIf="organizationSlug.errors?.required">This field is required.</small>
                    <small *ngIf="organizationSlug.errors?.minlength || organizationSlug.errors?.maxlength">
                        Length must be between 3 and 50 characters.
                    </small>
                    <small *ngIf="organizationSlug.errors?.pattern">You can use only _, -, A-Z, a-z.</small>
                    <small *ngIf="organizationSlug.errors?.notUnique">Slug is not unique, try again.</small>
                    <small *ngIf="organizationSlug.errors?.serverError">Server error.</small>
                </div>
            </div>
        </div>
    </form>
    <form [formGroup]="parentForm" class="item">
        <label class="item-definition">
            <div>Display Name</div>
            <div class="item-sub-text">A human-friendly name for the organization</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <input formControlName="name" class="item-form-field" pInputText placeholder="Display Name">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="p-error">
                    <small *ngIf="name.errors?.required">This field is required.</small>
                    <small *ngIf="name.errors?.minlength || name.errors?.maxlength">
                        Length must be between 3 and 50 characters.
                    </small>
                    <small *ngIf="name.errors?.pattern">You can use only _, -, A-Z, a-z.</small>
                </div>
            </div>
        </div>
    </form>
    <div class="photo-uploader">
        <div class="uploader">
            <label class="item-definition">
                <div>Organization icon</div>
                <div class="item-sub-text">Change the organization photo</div>
            </label>
            <div class="avatar-container">
                <div class="org-label">
                    <div class="org-avatar">
                        <p-avatar
                            *ngIf="organization?.avatarUrl"
                            [image]="organization.avatarUrl"
                            shape="circle">
                        </p-avatar>
                        <p-avatar
                            *ngIf="!organization?.avatarUrl"
                            [label]="organization?.name.substr(0,2)"
                            styleClass="org-avatar-item"
                            shape="circle"></p-avatar>
                    </div>
                </div>

                <p-fileUpload
                    mode="basic"
                    name="avatar"
                    accept="image/*"
                    label="Upload"
                    [fileLimit]="1"
                    [customUpload]="true"
                    (uploadHandler)="upload($event)"
                    (onError)="onError($event)"
                    [auto]="true"
                    chooseLabel="Upload"
                    styleClass="p-button-outlined p-button-primary">
                </p-fileUpload>
            </div>
        </div>
        <ngx-photo-editor
            class="editor"
            [imageChanedEvent]="imageChangedEvent"
            (imageCropped)="imageCropped($event)"
            [aspectRatio]="1/1"
            [viewMode]="0"
            [roundCropper]="true"
            [resizeToWidth]="300"
            appendTo="body"
            [darkTheme]="false">
        </ngx-photo-editor>
    </div>
</p-panel>
