<p-panel header="General" class="container-group">
    <form [formGroup]="parentForm" class="item">
        <label class="item-definition">
            <div>Organization Slug</div>
            <div class="item-sub-text">A unique ID used to identify this organization</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <i *ngIf="organizationSlug?.pending" class="pi pi-spin pi-spinner"></i>
                <input formControlName="organizationSlug" class="item-form-field" pInputText
                    placeholder="Organization Slug">
                <div *ngIf="organizationSlug.invalid && (organizationSlug.dirty || organizationSlug.touched)"
                    class="p-error">
                    <small *ngIf="organizationSlug.errors?.required">This field is required.</small>
                    <small *ngIf="organizationSlug.errors?.minlength || organizationSlug.errors?.maxlength">
                        Length must be between 3 and 50 characters.
                    </small>
                    <small *ngIf="organizationSlug.errors?.pattern">You can use only _, -, A-Z, a-z.</small>
                    <small *ngIf="organizationSlug.errors?.notUnique">Slug is not unique, try again.</small>
                    <small *ngIf="organizationSlug.errors?.serverError">Server error.</small>
                </div>
            </div>
        </div>
    </form>
    <form [formGroup]="parentForm" class="item">
        <label class="item-definition">
            <div>Display Name</div>
            <div class="item-sub-text">A human-friendly name for the organization</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <input formControlName="name" class="item-form-field" pInputText placeholder="Display Name">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="p-error">
                    <small *ngIf="name.errors?.required">This field is required.</small>
                    <small *ngIf="name.errors?.minlength || name.errors?.maxlength">
                        Length must be between 3 and 50 characters.
                    </small>
                    <small *ngIf="name.errors?.pattern">You can use only _, -, A-Z, a-z.</small>
                </div>
            </div>
        </div>
    </form>
</p-panel>
