<div class="container">
    <span>Add the Watchdog as a dependency using <strong><code>npm</code></strong>:</span>
    <app-code [code]="install" [languages]=""></app-code>
    <span>Next, import and <strong><code>init</code></strong> the Watchdog module as soon as possible during your page load:</span>
    <app-code [code]="index" [languages]="['javascript']"></app-code>

    <span>You can add users monitoring by setting options in <strong><code>setUserInfo</code></strong> function</span>
    <app-code [code]="setUser" [languages]="['typescript']"></app-code>
</div>
