@import src/styles/variables
@import src/styles/mixins

.teams-header
    @include background-gray
    @include title
    display: flex
    justify-content: space-between

.team
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 15px
    margin: 4px 0
    border-width: thin
    border-bottom: 1px solid $border-color
    button
        white-space: nowrap

.team-info
    display: flex
    flex-direction: row
    align-items: center
    cursor: pointer
    max-width: 65%

.team-title
    margin-left: 8px
    font-family: "DM Sans", serif
    max-width: 65%
    position: relative

.team-name
    @include text-overflow-x-nowrap
    color: var(--indigo-500)
    font-size: 1.2rem
    margin-bottom: 6px
    width: 100%

.team-members
    color: var(--bluegray-600)

.team-members
    font-size: 1rem

.team-avatar
    display: flex
    height: 3.1rem
    width: 3.1rem
    justify-content: center
    align-items: center
    background-color: var(--pink-300)
    border-radius: 3px

::ng-deep
    .team-info-avatar.p-avatar
        background-color: var(--pink-300)
    .team-info-avatar .p-avatar-text
        font-family: "DM Sans", serif
        font-size: 2em
        font-weight: 340
        color: #FFFFFF

.panel
    margin: $half-indent

a
    text-decoration: none
