<app-loading-spinner *ngIf="isLoading" [overlay]="true"></app-loading-spinner>
<div class="teams-header">
    <h1>Teams</h1>
    <div class="header-actions">
        <div>
            <button pButton pRipple type="button" label="Create team" class="p-button-outlined" icon="pi pi-plus-circle"
                (click)="openDialog()">
            </button>
        </div>
    </div>
</div>

<div class="panel">
    <app-user-teams [currentUserId]="currentUserId" [currentOrganizationId]="currentOrganizationId"
        [newTeamCreated]="teamCreated$.asObservable()" [joinNewTeam]="notifyMemberTeams$.asObservable()"
        (leaveTeamEvent)="notifyOtherTeams$.next($event)">
    </app-user-teams>
</div>
<div class="panel">
    <app-other-teams [currentUserId]="currentUserId" [currentOrganizationId]="currentOrganizationId"
        [leavedTeam]="notifyOtherTeams$.asObservable()" (joinTeamEvent)="notifyMemberTeams$.next($event)">
    </app-other-teams>
</div>
