<p-panel header="Settings" class="panel">
    <form [formGroup]="parentForm" class="item">
        <label class="item-definition">
            <div>Name</div>
            <div class="item-sub-text">A unique ID used to identify the team</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <i *ngIf="name?.pending" class="pi pi-spin pi-spinner"></i>
                <input formControlName="name" class="item-form-field" pInputText placeholder="Team Name">
                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="p-error">
                    <small *ngIf="name?.errors?.required">This field is required.</small>
                    <small *ngIf="name?.errors?.minlength || name?.errors?.maxlength">
                        Length must be between 3 and 50 characters.
                    </small>
                    <small *ngIf="name?.errors?.pattern">You can use only _, -, A-Z, a-z.</small>
                    <small *ngIf="name?.errors?.notUnique">Name is not unique, try again.</small>
                    <small *ngIf="name?.errors?.serverError">Server error.</small>
                </div>
            </div>
        </div>
    </form>
</p-panel>
