<!--    Details    -->
<div class="issue-details">
    <!--    Occurred On    -->
    <div class="issue-details-column">
        <div class="title">
            <span>Occurred on</span>
        </div>
        <div class="value">
            <span>{{issueMessage.occurredOn | date:'MMMM d, y h:mma'}}</span>
        </div>
    </div>
    <!--    Issue Id    -->
    <div class="issue-details-column">
        <div class="title">
            <span>Issue id</span>
        </div>
        <div class="value">
            <span>{{issueMessage.id}}</span>
        </div>
    </div>
    <!--    Class name    -->
    <div class="issue-details-column">
        <div class="title">
            <span>Class name</span>
        </div>
        <div class="value">
            <span>{{issueMessage.issueDetails.className}}</span>
        </div>
    </div>
    <!--    Message    -->
    <div class="issue-details-column">
        <div class="title">
            <span>Message</span>
        </div>
        <div class="value">
            <span>{{issueMessage.issueDetails.errorMessage}}</span>
        </div>
    </div>
    <!--    Url    -->
    <ng-template [ngIf]="issueMessage.issueDetails.url && issueMessage.issueDetails.url !== ''">
        <div class="issue-details-column">
            <div class="title">
                <span>Url</span>
            </div>
            <div class="value">
                <span>{{issueMessage.issueDetails.url}}</span>
            </div>
        </div>
    </ng-template>
</div>
<!--    Stacktrace    -->
<div class="issue-stacktrace">
    <div class="issue-stacktrace-header">
        <span>Stacktrace</span>
    </div>
    <div *ngIf="issueMessage.issueDetails.stackTrace; else none" class="stacktrace">
        <div *ngFor="let st of issueMessage.issueDetails.stackTrace" class="stacktrace-row">
            <div class="stacktrace-row-info">
                <span>
                    at <span class="method-name">{{st.methodName}}</span>
                    <ng-template [ngIf]="st.arguments?.length">arguments: {{st.arguments}}</ng-template>
                    line <span class="line-number">{{st.lineNumber}}</span>,
                    column <span class="column">{{st.column}}</span>
                     (<span class="file">{{st.file}}<span style="color: initial">:<span class="line-number">{{st.lineNumber}}</span></span></span>)
                </span>
            </div>
        </div>
    </div>
    <ng-template #none>
        <div class="no-stacktrace">none</div>
    </ng-template>
</div>
