@import src/styles/mixins
@import src/styles/variables
@import ../../common-styles/mixins
.item-block
    display: grid
    grid-auto-flow: row
    padding: $half-indent
    @include background-gray
    height: 100%

.title
    font-size: 1.3rem
    font-weight: bold
    padding-bottom: $half-indent