@import src/styles/mixins
@import ../../common-styles/variables
@import ../../common-styles/mixins
    
.content-container
    padding-top: $half-indent
    display: grid
    grid-auto-flow: row
    

.title-block
    padding: $indent
    grid-gap: $indent
    display: grid
    grid-template-columns: 1fr 1fr
    @include title
    
    

    img
        position: absolute
        left: 50%
        

.content-block
    display: grid
    padding: $indent
    grid-gap: $indent
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))


@include media-padding(".content-container")