<div class="footer-container">
    <div class="info">
        <span class="title">Follow us</span>
        <div class="links">
            <a class="facebook" href="">
                <p-chip label="Facebook" icon="pi pi-facebook" styleClass="p-mr-2"></p-chip>
            </a>
            <a class="twitter" href="">
                <p-chip label="Twitter" icon="pi pi-twitter" styleClass="p-mr-2"></p-chip>
            </a>
            <a class="slack" href="">
                <p-chip label="Slack" icon="pi pi-slack" styleClass="p-mr-2"></p-chip>
            </a>
            <a class="youtube" href="">
                <p-chip label="YouTube" icon="pi pi-youtube"></p-chip>
            </a>
            <a class="github" href="">
                <p-chip label="GitHub" icon="pi pi-github"></p-chip>
            </a>
        </div>
    </div>
    <div class="copyright">
        Copyright © 2021 Binary Studio Academy
    </div>
</div>
