@import src/styles/mixins
@import src/styles/variables
@import ../../common-styles/mixins

.footer-container
    padding-top: $half-indent

.footer
    border-top: 2px solid #ADC4D7
    display: grid
    grid-template-columns: 1fr auto
    align-items: center

.logo
    display: flex
    justify-content: center
    img
        @include disable-select
        display: block
        width: 100%
        max-height: 30px

.info
    padding: 0 $half-indent

.links
    margin: $half-indent
    display: flex
    justify-content: flex-start
    grid-gap: $half-indent
    flex-wrap: wrap

    a
        transition: color 0.2s
        text-decoration: none
        color: black
        &.facebook:hover
            color: #3b5998
        &.twitter:hover
            color: #1DA1F2
        &.youtube:hover
            color: #FF0000
        &.github:hover
            color: black
        i
            margin-right: 5px

.copyright
    color: rgba(27, 33, 44, 0.4)
    font-size: 0.9rem
    margin: $half-indent

@include media-padding(".footer-container")
