<div class="footer-container">
    <footer class="footer">
        <div class="info">
            <div class="links">
                <a class="facebook" href="landing#">
                    <i class="pi pi-facebook"></i>
                    <span>Facebook</span>
                </a>
                <a class="twitter" href="landing#">
                    <i class="pi pi-twitter"></i>
                    <span>Twitter</span>
                </a>
                <a class="youtube" href="landing#">
                    <i class="pi pi-youtube"></i>
                    <span>YouTube</span>
                </a>
                <a class="github" href="https://github.com/BinaryStudioAcademy/bsa-2021-watchdog">
                    <i class="pi pi-github"></i>
                    <span>GitHub</span>
                </a>
            </div>
            <div class="copyright">
                © 2021 • Watchdog is a registered trademark of functional software, inc.
            </div>
        </div>
        <div class="logo">
            <img alt="logo" src="assets/logo.svg">
        </div>
    </footer>
</div>
