<div class="invite-wrapper">
    <div class="title">Members</div>
    <div class="buttons">
        <button
            (click)="toggleAllEditors()"
            class="p-button-secondary p-button-outlined"
            label="Edit"
            pButton
            pRipple></button>
        <button
            (click)="isInviting=true"
            class="inviteMembers p-button-outlined"
            label="Invite"
            pButton pRipple
            type="button"></button>
    </div>
</div>
<div class="members-container">
    <div class="p-inputgroup filter-input">
        <span class="p-inputgroup-addon search-button"><i class="pi pi-search"></i></span>
        <input
            (input)="table.filterGlobal({value: $event.target.value, fields: globalFilterFields }, 'contains')"
            name="search"
            pInputText
            placeholder="Search"
            type="text">
        <div class="action-block">
                <span (click)="exportExcel()" class="p-inputgroup-addon search-button"
                      pTooltip="Export to Excel"
                      tooltipPosition="top" tooltipStyleClass="tooltip-text">
                    <i class="pi pi-file-excel"></i>
                </span>
            <span (click)="exportPdf()" class="p-inputgroup-addon search-button"
                  pTooltip="Export to PDF"
                  tooltipPosition="top" tooltipStyleClass="tooltip-text">
                    <i class="pi pi-file-pdf"></i>
                </span>
        </div>
    </div>

    <p-table
        #table
        (onLazyLoad)="loadMembers($event)"
        [lazy]="true"
        [paginator]="totalRecords > itemsPerPage"
        [rows]="itemsPerPage"
        [totalRecords]="totalRecords"
        [value]="memberItems"
        class="members-table"
        sortField="isApproved"
        [sortOrder]="1">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="userFirstName">
                    <div class="table-header-cell" id="name-col">
                        <span>
                            Full Name
                            <p-sortIcon field="userFirstName"></p-sortIcon>
                        </span>
                        <p-columnFilter
                            [maxConstraints]="1"
                            [showAddButton]="false"
                            [showOperator]="false"
                            display="menu"
                            field="userFirstName"
                            type="text"></p-columnFilter>
                    </div>
                </th>
                <th class="email-col" pSortableColumn="userEmail">
                    <div class="table-header-cell" id="email-col">
                        <span>
                            Email <p-sortIcon field="userEmail"></p-sortIcon>
                        </span>
                        <p-columnFilter
                            [showAddButton]="false"
                            [showOperator]="false"
                            display="menu"
                            field="userEmail"
                            type="text"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="roleName">
                    <div class="table-header-cell" id="role-col">
                        <span>
                            Role <p-sortIcon field="roleName"></p-sortIcon>
                        </span>
                        <p-columnFilter
                            [showAddButton]="false"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            display="menu"
                            field="roleName"
                            matchMode="in">
                            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                <p-multiSelect
                                    (onChange)="filter($event.value)"
                                    [ngModel]="value"
                                    [options]="roles"
                                    [showHeader]="false"
                                    optionLabel="name"
                                    optionValue="name"
                                    placeholder="Select roles">
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="team-col">
                    <div class="table-header-cell">
                        <span>
                            Teams
                        </span>
                    </div>
                </th>
                <th pSortableColumn="isApproved">
                    <div class="table-header-cell" id="isAccepted-col">
                        <span>
                            Is approved <p-sortIcon field="isApproved"></p-sortIcon>
                        </span>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template let-memberItem pTemplate="body">
            <tr>
                <td><span
                    class="content">{{memberItem.member.user.firstName}} {{memberItem.member.user.lastName}}</span></td>
                <td class="email-col">
                    <div class="content">
                        <div appTooltipFullName class="email">{{memberItem.member.user.email}}</div>
                    </div>
                </td>
                <td class="edit-cell">
                    <span *ngIf="!memberItem.isEdit" class="content">{{memberItem.member.role.name}}
                        <button (click)="startEdit(memberItem)" *ngIf="isEdit && memberItem.member.roleId !== membersRoleIds.owner"
                                class="p-button-raised p-button-text p-button-plain small-button"
                                icon="pi pi-pencil" pButton></button>
                    </span>

                    <div *ngIf="memberItem.isEdit" class="content">
                        <p-dropdown
                            [(ngModel)]="memberItem.member.role"
                            [disabled]="memberItem.saveRole.name === 'Owner'"
                            [filter]="false"
                            [options]="editRoles"
                            appendTo="body" name="roles-dropdown"
                            optionLabel="name" placeholder="Select Role"></p-dropdown>
                        <button (click)="saveRoleChanges(memberItem)" [disabled]="memberItem.saveRole.name === 'Owner'"
                                class="p-button-raised p-button-text p-button-plain small-button" icon="pi pi-save"
                                pButton>
                        </button>
                        <button (click)="finishEdit(memberItem)"
                                class="p-button-raised p-button-text p-button-plain small-button" icon="pi pi-times"
                                pButton>
                        </button>
                    </div>
                </td>
                <td class="team-col"><span *ngIf="memberItem.member.teams.length > 1" class="content">
                    <p-dropdown [autoDisplayFirst]="false" [options]="memberItem.member.teams"
                                appendTo="body" class="teams-dropdown"
                                name="teams-dropdown"
                                optionDisabled="name" optionLabel="name" panelStyleClass="team-col-panel"
                                placeholder="Teams"
                                styleClass="team-col-dropdown">
                </p-dropdown>
                </span>
                    <span *ngIf="memberItem.member.teams.length  === 1"
                          class="content one-team">{{memberItem.member.teams[0].name}}</span>
                    <span *ngIf="memberItem.member.teams.length  === 0" class="content no-team">No teams yet</span></td>
                <td>
                    <div class="content delete-col">
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Re-invite"
                            *ngIf="!memberItem.member.isAccepted && memberItem.member.isApproved"
                            class="p-button-outlined p-button-secondary"
                            (click)="reinvite(memberItem.member)"></button>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Approve"
                            *ngIf="!memberItem.member.isApproved"
                            class="p-button-outlined p-button-secondary"
                            (click)="approve(memberItem.member)"></button>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Declined"
                            *ngIf="!memberItem.member.isApproved"
                            class="p-button-outlined p-button-danger"
                            (click)="deleteMemberModal(memberItem)"></button>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Accepted"
                            *ngIf="memberItem.member.isAccepted && memberItem.member.isApproved"
                            [disabled]="true"
                            class="p-button-outlined p-button-secondary"></button>
                        <button
                            *ngIf="isEdit && memberItem.member.roleId !== membersRoleIds.owner"
                            (click)="deleteMemberModal(memberItem)"
                            class="p-button-raised p-button-text p-button-plain small-button"
                            icon="pi pi-trash" pButton></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-invite
    (closeModal)="isInviting = !isInviting"
    *ngIf="isInviting">
</app-invite>
