@import src/styles/variables
@import src/styles/mixins

.invite-wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 20px
    @include title
    @include background-gray

.members-container
    padding: 20px
    display: flex
    flex-direction: column

.filter
    display: flex
    flex-direction: row
    align-items: center
    grid-gap: 20px
    padding: 20px
    .search-members
        width: 100%

.filter-input
    margin-bottom: 20px

.table-header-cell
    display: flex !important
    justify-content: space-between
    align-items: center

td
    overflow: hidden
