<app-loading-spinner *ngIf="loadingNumber > 0" [size]="'10px'"></app-loading-spinner>
<div class="invite-wrapper">
    <div class="title">Members</div>
    <button pButton class="inviteMembers" pRipple type="button" label="Invite members"></button>
</div>
<div class="filter">
    <div class="filter-title">Filter</div>
    <div class="filter-input">
        <span class="p-inputgroup-addon search-button"><i class="pi pi-search"></i></span>
        <input type="text" pInputText placeholder="Search members" name="search">
    </div>
   </div>
<div class="members-container">
    <p-table #dt1 [value]="members" class="members-table" [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="member.firstName">Full Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="member.user.email">Email <p-sortIcon field="member.user.email"></p-sortIcon></th>
                <th pSortableColumn="member.teamId">Team Id <p-sortIcon field="member.teamId"></p-sortIcon></th>
                <th pSortableColumn="member.team.name">Team name <p-sortIcon field="member.team.name"></p-sortIcon></th>
                <th pSortableColumn="member.role.name">Role <p-sortIcon field="member.role.name"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'name', 'contains')" [value]="dt1.filters['name']" placeholder="Search by Name" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'member.user.email', 'contains')" [value]="dt1.filters['member.user.email']" placeholder="Search by Country" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'member.teamId', 'contains')" [value]="dt1.filters['member.teamId']" placeholder="Search by Representative" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'member.team.name', 'contains')" [value]="dt1.filters['member.team.name']" placeholder="Search by Status" class="p-column-filter">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-member>
            <tr>
                <td>{{member.user.firstName}} {{member.user.lastName}}</td>
                <td>{{member.user.email}}</td>
                <td>{{member.teamId}}</td>
                <td>{{member.team.name}}</td>
                <td>{{member.role.name}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>