<!--    Header    -->
<div [formGroup]="formGroup" class="dialog">
    <div class="header">
        <div class="header-title">
            <span>{{headerTitle}}</span>
            <button (click)="close()" class="p-button-raised p-button-text p-button-plain"
                    icon="pi pi-times" pButton pTooltip="Close window" tooltipPosition="bottom"></button>
        </div>
    </div>
    <!--    Content    -->
    <div class="content">
        <!--    Name Input    -->
        <div class="tile-name">
            <div class="input-title">Name</div>
            <input class="input-text" formControlName="name" pInputText type="text">
            <div *ngIf="formGroup.controls.name.invalid" class="validation">
                <small *ngIf="formGroup.controls.name.errors.required">Field is required</small>
                <small *ngIf="formGroup.controls.name.errors.maxlength">Max name length 50</small>
                <small *ngIf="formGroup.controls.name.errors.minlength">Min name length 3</small>
                <small *ngIf="formGroup.controls.name.errors.pattern">May contain lowercase (a-z) and uppercase (A-Z)
                    letters, numbers (0-9), space, point, dashes and underscores
                </small>
            </div>
        </div>
        <!--    Date Range Dropdown    -->
        <div class="date-range">
            <div class="date-range-title">Date range</div>
            <p-dropdown [options]="dateRangeDropdown" appendTo="body"
                        formControlName="dateRange"
                        optionLabel="name" optionValue="type" styleClass="date-range-dropdown">
            </p-dropdown>
        </div>
        <!--    Tile Size Dropdown    -->
        <div class="tile-size">
            <div class="tile-size-title">Tile size</div>
            <p-dropdown [options]=tileSizeDropdown  appendTo="body" formControlName="tileSize"
                        optionLabel="name" optionValue="type">
            </p-dropdown>
        </div>
        <!--    Issue Statuses Checkboxes    -->
        <div class="issue-statuses">
            <div class="issue-statuses-title">Statuses to include</div>
            <div *ngFor="let status of issueStatusCheckboxes" class="issue-statuses-checkboxes">
                <p-checkbox [formControl]="$any(formGroup).controls['issueStatuses']" [value]="status.type"
                            inputId="{{status.type}}">
                </p-checkbox>
                <label [for]="status.type" class="p-checkbox-label">{{status.name}}</label>
            </div>
            <div *ngIf="formGroup.controls.issueStatuses.invalid" class="validation">
                <small *ngIf="formGroup.controls.issueStatuses.errors.required">Field is required</small>
            </div>
        </div>

        <p-divider></p-divider>
        <!--    App Source Selection    -->
        <div class="sources-selection">
            <div class="sources-selection-title">Add sources</div>
            <p-multiSelect [options]="userProjects" appendTo="body" defaultLabel="Select application"
                           display="chip" formControlName="sourceProjects" optionLabel="name"
                           optionValue="id"></p-multiSelect>
            <div *ngIf="formGroup.controls.sourceProjects.touched && formGroup.controls.sourceProjects.invalid"
                 class="validation">
                <small *ngIf="formGroup.controls.sourceProjects.errors.required">Field is required</small>
            </div>
        </div>
    </div>
    <!--    Footer    -->
    <div class="footer">
        <div class="footer-content">
            <!--    Close    -->
            <button
                (click)="close()"
                class="p-button-secondary p-button-outlined cancel-button" label="Cancel" pButton
                pTooltip="Cancel changes"
                tooltipPosition="bottom" type="button">
            </button>
            <!--    Submit    -->
            <button
                (click)="submit()" [disabled]="!formGroup.valid"
                class="p-button-primary p-button-outlined"
                label="{{submitButtonText}}" pButton pTooltip="{{submitButtonText}} tile" tooltipPosition="bottom"
                type="submit">
            </button>
        </div>
    </div>
</div>
