<app-commom-edit-tile [formGroup]="formGroup" (submited)="submit()" [form]="formGroup">
    <!--    Date Range Dropdown    -->
    <div class="date-range">
        <div class="date-range-title">Date range</div>
        <p-dropdown [options]="dateRangeDropdown" appendTo="body" formControlName="dateRange" optionLabel="name"
            optionValue="type" styleClass="date-range-dropdown">
        </p-dropdown>
    </div>
    <!--    Issue Statuses Checkboxes    -->
    <div class="issue-statuses">
        <div class="issue-statuses-title">Statuses to include</div>
        <div *ngFor="let status of issueStatusCheckboxes" class="issue-statuses-checkboxes">
            <p-checkbox [formControl]="$any(formGroup).controls['issueStatuses']" [value]="status.type"
                inputId="{{status.type}}">
            </p-checkbox>
            <label [for]="status.type" class="p-checkbox-label">{{status.name}}</label>
        </div>
        <div *ngIf="issueStatuses.invalid" class="validation">
            <small *ngIf="issueStatuses.errors.required">Field is required</small>
        </div>
    </div> 
</app-commom-edit-tile>