<div class="enterprise-container">
    <div class="header">Your Business Is Our Business</div>
    <div class="title">Watchdog for Enterprise</div>
    <div class="description">Your entire organization needs visibility into application health.
        Watchdog provides context to uncover insights for engineers, support, product, and beyond.<br>
        The platform provides different analytics about critical pieces of code,
        endpoints, and so on.</div>
    <div class="button">
        <button
            pButton
            pRipple
            class="p-button-primary"
            label="Try Watchdog for FREE">
        </button>
    </div>
</div>
