.socials-wrapper
    display: grid
    grid-gap: 30px
    grid-template-columns: 1fr 1fr
    margin-top: 20px
    .socials
        display: flex
        width: 100%
        height: 40px
        padding: 30px
        justify-content: center
        align-items: center
        color: white
        border-radius: 5px

    #github
        background-color: black
    #google
        background-color: red
    #twitter
        background-color: #2f8dda
    #facebook
        background-color: #0e5fa1
.pi::before
    padding: 5px

    

