.socials-wrapper
    width: 45%
    margin: 20px auto 0
    display: flex
    justify-content: space-between
    .socials
        display: flex
        width: 40px
        height: 40px
        justify-content: center
        align-items: center
        color: white
        border-radius: 50%
        i
            font-size: 1.7rem

    .pointer
        cursor: pointer

    #github
        background-color: black
    #google
        background-color: red
    #facebook
        background-color: #0e5fa1
.pi::before
    padding: 5px

    

