<button pButton pRipple label="Add project" icon="pi pi-plus-circle" class="p-button-outlined"
    (click)="toggle($event,op)"></button>
<p-overlayPanel #op [appendTo]="'body'" styleClass="overlaypanel">
    <ng-template class="overlay-container" pTemplate>
        <input pInputText type="search" placeholder="Filter search" #srch (input)="search(srch.value)">
        <div role="button" role="button" class="overlay-item project" *ngFor="let project of projects"
            (click)="addProject(project, op)">
            <div>{{project.name}}</div>
        </div>
        <div class="overlay-item state" *ngIf="!isLoading && projects?.length==0">No projects found.</div>
        <div class="overlay-item state" *ngIf="isLoading">Searching...</div>
    </ng-template>
</p-overlayPanel>
