.settings-container
    width: 100%
    color: var(--text-color)
    font-family: var(--font-family)

:host
    ::ng-deep .item-form-field.p-dropdown
        width: 100%

.content-title
    font-size: 2em

.container
    &-group
        box-shadow: 0 0 2px var(--primary-color)
        margin: 1em 0
    &-header
        font-size: 1.5em
        font-weight: 500
        padding: var(--content-padding)
        color: var(--primary-color-text)
        background-color: #530c69cc

.item
    &-group
        padding: calc(var(--content-padding)/1.2) var(--content-padding)
        display: flex
    &-form-definition
        width: 50%
        font-size: 1.2em
        margin-right: 1em
    &-form-field
        width: 45%

.item-sub-text
    font-size: .7em
    margin-top: .2em
    color: var(--text-secondary-color)
