@import src/styles/variables

.panel-list
    position: relative
    &-item
        border-bottom: 1px solid $border-color
        padding: $half-indent
        display: flex
        flex-direction: row
        align-items: center
        gap: $half-indent
        justify-content: space-between
    &-item:last-child
        border-bottom: none

.header-button
    margin-left: auto

:host ::ng-deep
    .team-panel .p-panel-content
        padding: 0
    .team-panel.p-panel
        position: relative

.panel-custom
    position: relative

.p-button-outlined
    margin-left: auto
    font-size: .8rem

.star
    & .pi-star
        color: rgb(245, 207, 35)
    & .pi
        cursor: pointer


.placeholder-empty
    font-weight: 300
    color: grey
    opacity: .8
    justify-content: space-around
    text-align: center
    &:hover
        background: none
