<!-- Header -->
<div class="header">
    <button class="p-button-outlined back-button" icon="pi pi-chevron-left " pButton pRipple
        pTooltip="Back to Tests" routerLink="../../" tooltipPosition="bottom">
    </button>
    <h1 class="header-title">{{header}}</h1>
    <div class="buttons">
        <div class="header-buttons">
            <button
            pButton
            pRipple
            class="p-button-primary p-button-outlined"
            label="Save"
            (click)="save()"
            [disabled]="!formValid()"></button>
        </div>
        <div class="header-buttons">
            <button
            pButton
            pRipple
            class="p-button-primary p-button-outlined"
            label="Save and run"
            [disabled]="!formValid()"></button>
        </div>
    </div>
</div>
<!-- NotFound -->
<div *ngIf="isNotFound">
    <app-not-found></app-not-found>
</div>
<!-- Content -->
<div *ngIf="!isNotFound" class="container">
    <!-- Test settings -->
    <div class="test-settings-container">
        <h2 class="title">Test settings</h2>
        <p-divider></p-divider>
        <form [formGroup]="settingsGroup" class="test-settings">
            <!-- Name -->
            <div class="input-block">
                <span class="title-block">Name</span>
                <input
                    formControlName="name"
                    pInputText
                    placeholder="Test name"
                    type="text"
                    class="input">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="validation">
                    <small *ngIf="name.errors.required">Сan not be empty</small>
                    <small *ngIf="name.value.length < 3">Min length 3</small>
                    <small *ngIf="name.value.length > 50">Max length 50</small>
                    <small *ngIf="name.hasError('pattern')">May contain lowercase (a-z) and uppercase (A-Z) letters, numbers (0-9), dashes,
                        underscores and spaces</small>
                </div>
            </div>
            <!-- Type -->
            <div class="input-block">
                <span class="title-block">Test type</span>
                <p-dropdown
                    formControlName="type"
                    [options]="testTypeOptions"
                    optionValue="value"
                    optionLabel="label"
                    styleClass="input">
                </p-dropdown>
                <div *ngIf="type.invalid && (type.dirty || type.touched)" class="validation">
                    <small *ngIf="name.errors.required">Сan not be empty</small>
                </div>
            </div>
            <!-- Clients -->
            <div class="input-block">
                <span class="title-block">Clients</span>
                <p-inputNumber
                    formControlName="clients"
                    [min]="1"
                    [max]="10000"
                    [showButtons]="true"
                    [size]="3"
                    [step]="5"
                    mode="decimal"
                    incrementButtonClass="p-button-outlined"
                    decrementButtonClass="p-button-outlined"
                    styleClass="input">
                </p-inputNumber>
                <div *ngIf="clients.invalid && (clients.dirty || clients.touched)" class="validation">
                    <small *ngIf="clients.errors.required">Сan not be empty</small>
                    <small *ngIf="clients.value < 1">Min value 1</small>
                    <small *ngIf="clients.value > 10000">Max value 10000</small>
                </div>
            </div>
            <!-- Duration -->
            <div class="input-block">
                <span class="title-block">Duration</span>
                <p-inputMask
                    formControlName="duration"
                    mask="a9:a9"
                    placeholder="mm:ss"
                    slotChar="mm:ss"
                    styleClass="input"
                    characterPattern="[0-5]">
                </p-inputMask>
                <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="validation">
                    <small *ngIf="duration.errors.required">Сan not be empty</small>
                    <small *ngIf="duration.errors.invalidTime">Time format is not correct</small>
                </div>
            </div>
            <!-- Project -->
            <div class="input-block">
                <span class="title-block">Project</span>
                <p-dropdown
                    formControlName="projectId"
                    [options]="projects"
                    [showClear]="true"
                    optionLabel="name"
                    optionValue="id"
                    styleClass="input"
                    placeholder="Project">
                    </p-dropdown>
            </div>
        </form>
    </div>
    <p-divider></p-divider>
    <div class="request-settings-container">
        <h2 class="title">Request settings</h2>
        <div class="request-block" *ngFor="let requestGroup of requestGroups">
            <p-divider></p-divider>
            <div class="url">{{getUrl(requestGroup)}}
                <button
                    class="p-button-raised p-button-text p-button-plain small-button"
                    [icon]="requestGroup.controls.collapsed.value ? 'pi pi-angle-down' : 'pi pi-angle-up'"
                    pButton
                    (click)="requestGroup.controls.collapsed.setValue(!requestGroup.controls.collapsed.value)">
                </button>
                <button
                    class="p-button-raised p-button-text p-button-plain small-button"
                    icon="pi pi-trash"
                    pButton
                    (click)="deleteRequest(requestGroup)"
                    [disabled]="requestGroups.length === 1">
                </button>
            </div>
            <ng-container *ngIf="!requestGroup.controls.collapsed.value">
                <form [formGroup]="requestGroup" class="test-settings">
                    <!-- Method -->
                    <div class="input-block">
                        <span class="title-block">Method</span>
                        <p-dropdown
                            formControlName="method"
                            [options]="testMethodOptions"
                            optionLabel="label"
                            styleClass="input">
                        </p-dropdown>
                        <div *ngIf="requestGroup.controls.protocol.invalid && (requestGroup.controls.protocol.dirty || requestGroup.controls.protocol.touched)" class="validation">
                            <small *ngIf="requestGroup.controls.protocol.errors.required">Сan not be empty</small>
                        </div>
                    </div>
                    <!-- Type -->
                    <div class="input-block">
                        <span class="title-block">Type</span>
                        <p-dropdown
                            formControlName="protocol"
                            [options]="testProtocolOptions"
                            optionLabel="label"
                            styleClass="input">
                        </p-dropdown>
                        <div *ngIf="requestGroup.controls.protocol.invalid && (requestGroup.controls.protocol.dirty || requestGroup.controls.protocol.touched)" class="validation">
                            <small *ngIf="requestGroup.controls.protocol.errors.required">Сan not be empty</small>
                        </div>
                    </div>
                    <!-- Host -->
                    <div class="input-block">
                        <span class="title-block">Host</span>
                        <input
                            formControlName="host"
                            pInputText
                            placeholder="example.com"
                            type="text"
                            class="input">
                        <div *ngIf="requestGroup.controls.host.invalid && (requestGroup.controls.host.dirty || requestGroup.controls.host.touched)" class="validation">
                            <small *ngIf="requestGroup.controls.host.errors.required">Сan not be empty</small>
                        </div>
                    </div>
                    <!-- Path -->
                    <div class="input-block">
                        <span class="title-block">Path</span>
                        <input
                            formControlName="path"
                            pInputText
                            placeholder="some/path"
                            type="text"
                            class="input">
                    </div>
                </form>
                <!-- Headers -->
                <span class="title-block">Headers</span>
                <div class="header-block">
                    <div class="key-value-block" *ngFor="let kvp of requestGroup.controls.headers.value">
                        <div class="kvp-inputs">
                            <div class="input-block">
                                <input
                                    [(ngModel)]="kvp.key"
                                    pInputText
                                    placeholder="header name"
                                    type="text"
                                    class="input">
                            </div>
                            <div class="input-block">
                                <input
                                    [(ngModel)]="kvp.value"
                                    pInputText
                                    placeholder="value"
                                    type="text"
                                    class="input">
                            </div>
                        </div>
                        <button
                            class="p-button-raised p-button-text p-button-plain small-button"
                            icon="pi pi-trash"
                            pButton
                            (click)="deleteHeader(requestGroup, kvp)">
                        </button>
                    </div>
                    <button
                        pButton
                        pRipple
                        class="p-button-secondary p-button-outlined"
                        label="Header"
                        icon="pi pi-plus"
                        (click)="addHeader(requestGroup)">
                    </button>
                </div>
                <!-- Parameters -->
                <span class="title-block">Parameters</span>
                <div class="header-block">
                    <div class="key-value-block" *ngFor="let kvp of requestGroup.controls.parameters.value">
                        <div class="kvp-inputs">
                            <div class="input-block">
                                <input
                                    [(ngModel)]="kvp.key"
                                    pInputText
                                    placeholder="param name"
                                    type="text"
                                    class="input">
                            </div>
                            <div class="input-block">
                                <input
                                    [(ngModel)]="kvp.value"
                                    pInputText
                                    placeholder="value"
                                    type="text"
                                    class="input">
                            </div>
                        </div>
                        <button
                            class="p-button-raised p-button-text p-button-plain small-button"
                            icon="pi pi-trash"
                            pButton
                            (click)="deleteParameter(requestGroup, kvp)">
                        </button>
                    </div>
                    <button
                        pButton
                        pRipple
                        class="p-button-secondary p-button-outlined"
                        label="Parameter"
                        icon="pi pi-plus"
                        (click)="addParameter(requestGroup)">
                    </button>
                </div>
                <!-- Body -->
                <form *ngIf="requestGroup.controls.method.value.label !== 'GET' && requestGroup.controls.method.value.label !== 'DELETE'" [formGroup]="requestGroup" class="body">
                    <span class="title-block">Body</span>
                    <textarea
                        class="body-input"
                        [autoResize]="true"
                        formControlName="body"
                        pInputTextarea
                        placeholder="body"
                        type="textarea"
                        (keydown)="handle($event)"
                        (focusin)="pretty($event)"
                        (focusout)="pretty($event)">
                    </textarea>
                </form>
                <div *ngIf="requestGroup.controls.body.invalid && (requestGroup.controls.body.dirty || requestGroup.controls.body.touched)"
                    class="validation">
                    <small *ngIf="requestGroup.controls.body.errors.invalidJson" class="p-error">
                        {{requestGroup.controls.body.errors.invalidJson}}
                    </small>
                </div>
            </ng-container>

        </div>
        <p-divider></p-divider>
        <button
            pButton
            pRipple
            class="p-button-primary p-button-outlined"
            label="Add request"
            icon="pi pi-plus"
            (click)="addRequest()">
        </button>
    </div>
</div>
