<div class="modal-content">
    <div class="team-create-form-header">
        <div class="description">
            Members of a team have access to specific areas, such as a new release or a new application feature.
        </div>
        <div class="input-label">
            Team Name
            <div class="input-sub-label">
                May contain lowercase letters, numbers, dashes and underscores.
            </div>
        </div>
        <form [formGroup]="teamGroup" (ngSubmit)="createTeam()">
            <input type="text" pInputText formControlName="name" class="team-name-input">
        </form>
    </div>
    <div class="team-create-form-footer">
        <button
            pButton
            pRipple
            type="button"
            label="Join team"
            class="p-button-raised"
            (click)="createTeam()">
        </button>
    </div>
</div>
