<p-panel styleClass="custom-panel" header="Members">
    <ng-template pTemplate="header">
        <button pButton pRipple>Add member</button>
    </ng-template>
    <div class="list">
        <app-loading-spinner *ngIf="isLoading" [overlay]="true"></app-loading-spinner>
        <div class="list-item" *ngFor="let project of projects">
            <div>
                <div>{{project.name}}</div>
            </div>
            <button pButton (click)="removeFromTeam(project.id)">Remove</button>
        </div>
        <div class="list-item" *ngIf="team.members.length===0">No members yet...</div>
    </div>
</p-panel>
