@import src/styles/variables

.geo-chart-wrp
    margin: 30px 0
    &--header
        text-align: center
        font-size: 26px
        font-weight: 500
    &--content
        display: flex
        justify-content: center
    &--chart
        margin-top: 1.5em
        width: 90%
