<p-panel header="Alert" class="panel">
    <form [formGroup]="editForm" class="item">
        <label class="item-definition">
            <div>Alert Category</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <p-dropdown [options]="alertCategoryValue" optionLabel="label"
                    formControlName="alertCategory" optionValue="value" [style]="{'width':'100%'}"></p-dropdown>
            </div>
        </div>
    </form>
    <form [formGroup]="editForm" *ngIf="this.editForm.controls.alertCategory.value=== 3"
         class="item">
        <label class="item-definition-special">
            <div>Alert Count</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <input formControlName="alertsCount" pInputText placeholder="Alerts count" class="item-form-field">
                <div *ngIf="alertsCount.touched && alertsCount.invalid" class="p-error">
                    <small *ngIf="alertsCount.errors.required">Сan not be empty</small>
                </div>
            </div>
        </div>
    </form>
    <form [formGroup]="editForm" *ngIf="this.editForm.controls.alertCategory.value=== 3" class="item">
        <label class="item-definition-special">
            <div>Alert Type</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <p-dropdown [options]="specialAlertTypeValue" optionLabel="label"
                    formControlName="specialAlertType" optionValue="value" [style]="{'width':'100%'}"></p-dropdown>
                <div *ngIf="specialAlertType.touched && specialAlertType.invalid" class="p-error">
                    <small *ngIf="specialAlertType.errors.required">Сan not be empty</small>
                </div>
            </div>
        </div>
    </form>
    <form [formGroup]="editForm" *ngIf="this.editForm.controls.alertCategory.value=== 3" class="item">
        <label class="item-definition-special">
            <div>Alert time interval</div>
        </label>
        <div class="item-field">
            <div class="item-form-input p-input-icon-right">
                <p-dropdown [options]="alertTimeIntervalValue" optionLabel="label"
                    formControlName="alertTimeInterval" optionValue="value" [style]="{'width':'100%'}"></p-dropdown>
                <div *ngIf="alertTimeInterval.touched && alertTimeInterval.invalid" class="p-error">
                    <small *ngIf="alertTimeInterval.errors.required">Сan not be empty</small>
                </div>
            </div>
        </div>
    </form>
</p-panel>
