<div class="container">
    <app-tile-header
        (dragTile)="setTileDragStatus($event)"
        (isDeleting)="isDeleting.emit(tile)"
        (isEditing)="emitEventToChild()"
        [isShownEditTileMenu]="isShownEditTileMenu"
        [tile]="tile">
    </app-tile-header>
    
    <ng-container [ngSwitch]="tile.type">
        <app-top-active-issues-tile
            *ngSwitchCase="tileTypes.TopActiveIssues"
            [tile]="tile"
            [events] = "edit.asObservable()"
            [userProjects]="userProjects"
            (changeTile)="changeTileFunc()">
        </app-top-active-issues-tile>
        <app-issues-per-time-tile 
            *ngSwitchCase="tileTypes.IssuesPerTime"
            [tile]="tile"
            [events] = "edit.asObservable()"
            [userProjects]="userProjects"
            [resize]="resize"
            (changeTile)="changeTileFunc()">
        </app-issues-per-time-tile>
        <app-issues-count-tile
            *ngSwitchCase="tileTypes.IssuesCount"
            [tile]="tile"
            [events]="edit.asObservable()"
            [userProjects]="userProjects"
            [resize]="resize"
            (changeTile)="changeTileFunc()">
        </app-issues-count-tile> 
        <app-heat-map
            *ngSwitchCase="tileTypes.HeatMap"
            [tile]="tile"
            [events]="edit.asObservable()"
            [userProjects]="userProjects"
            [resize]="resize"
            (changeTile)="changeTileFunc()">
        </app-heat-map>

    </ng-container>

</div>
