.container
    display: flex
    flex-direction: column
    height: 100%

app-top-active-issues-tile,
app-issues-per-time-tile,
app-issues-count-tile,
app-most-common-countries-tile,
app-heat-map
    height: 100%

:host ::ng-deep
    .p-progress-spinner
        position: absolute
        top: 50%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)
