<div class="container">
    <div class="header">
        <div class="header-title">
            <!--    Default title    -->
            <span *ngIf="!isEditName || !isShownTileMenu">{{tile.name}}</span>
            <button (click)="toggleNameEditor()" *ngIf="!isEditName && isShownTileMenu"
                    class="p-button-raised p-button-text p-button-plain"
                    icon="pi pi-pencil" pButton></button>
            <!--    Title When Edit    -->
            <ng-container *ngIf="isEditName && isShownTileMenu" [formGroup]="formGroup">
                <input [maxLength]="50" [minLength]="3" [tooltipDisabled]="!formGroup.controls.name.errors"
                       autofocus class="input-text" formControlName="name"
                       pInputText pTooltip="At least 3 characters but no more than 50. May contain lowercase
                   (a-z) and uppercase (A-Z) letters, numbers (0-9), space, point, dashes and underscores"
                       tooltipPosition="top" type="text">
                <button (click)="saveNameChanges()"
                        [disabled]="formGroup.controls.name.invalid || !formGroup.controls.name.dirty"
                        class="p-button-raised p-button-text p-button-plain" icon="pi pi-save" pButton>
                </button>
                <button (click)="toggleNameEditor()"
                        class="p-button-raised p-button-text p-button-plain" icon="pi pi-times" pButton>
                </button>
            </ng-container>
        </div>
        <!--    Title Right Buttons    -->
        <div *ngIf="isShownTileMenu" class="header-right-buttons">
            <div class="button-delete">
                <button (click)="deleteTile()" class="p-button-raised p-button-text p-button-plain" icon="pi pi-trash"
                        pButton></button>
            </div>
            <div class="button-settings">
                <button (click)="editTile()" class="p-button-raised p-button-text p-button-plain"
                        icon="pi pi-cog"
                        pButton></button>
            </div>
        </div>
    </div>
    <!--    Issues Table    -->
    <div class="table">
        <p-table [alwaysShowPaginator]="issuesInfo.length > 5" [pageLinks]="1" [paginator]="true" [rows]="5"
                 [showJumpToPageDropdown]="true" [showPageLinks]="false" [value]="issuesInfo"
                 selectionMode="single">
            <!--    Columns Define    -->
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Issue
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="events">Count
                        <p-sortIcon field="events"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <!--    Rows Data   -->
            <ng-template let-issue pTemplate="body">
                <tr>
                    <td>
                        <span (click)="onIssueSelect(issue)" class="issue-name">{{issue.errorClass}}</span>
                        <small class="issue-message">{{issue.errorMessage}}</small>
                    </td>
                    <td>{{issue.events}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
