@import src/styles/variables
@import src/styles/mixins


.container
    display: flex
    flex-direction: column
    height: 100%

    .header
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        padding: 10px 16px
        border-bottom: 1px solid #d3d3d3
        line-height: 21px

        .header-title
            width: 90%
            white-space: nowrap
            height: $input-height
            display: flex
            align-items: center


            span
                font-weight: 500
                text-align: center


            button
                @extend %title-button-special
                margin-left: 8px

            input
                width: 70%
                height: $input-height


        .header-right-buttons
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center

            .button-settings
                button
                    @extend %title-button-special

            .button-delete
                margin-right: 8px

                button
                    @extend %title-button-special

    .table
        height: 100%

        .issue-name
            cursor: pointer

        .issue-name:hover
            color: #0288D1

        .issue-message
            font-size: 12px
            margin-top: 3px
            color: rgb(147, 134, 160)
            display: block
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

        ::ng-deep p-table
            height: 100%

            ::ng-deep .p-datatable
                height: 100%
                display: flex
                flex-direction: column
                align-content: center
                justify-content: space-between
                align-items: center

                ::ng-deep p-paginator
                    border-top: 1px solid #e9ecef
                    width: 100%
        //override paginator dropdown text
        ::ng-deep .p-dropdown-label
            display: flex
            align-items: center

:host ::ng-deep
    td
        vertical-align: middle

%title-button-special
    box-shadow: none
    height: 20px
    width: 20px
    margin-bottom: 1px
