<!--    Details    -->
<div class="issue-details">
    <!--    Occurred On    -->
    <div class="issue-details-column">
        <div class="title">
            <span>Occurred on</span>
        </div>
        <div class="value">
            <span>{{issueMessage.occurredOn | date:'MMMM d, y h:mma'}}</span>
        </div>
    </div>
    <!--    Class name    -->
    <div *ngIf="issueMessage.issueDetails.className" class="issue-details-column">
        <div class="title">
            <span>Class name</span>
        </div>
        <div class="value">
            <span>{{issueMessage.issueDetails.className}}</span>
        </div>
    </div>
    <!--    Message    -->
    <div *ngIf="issueMessage.issueDetails.errorMessage" class="issue-details-column">
        <div class="title">
            <span>Message</span>
        </div>
        <div class="value">
            <span>{{issueMessage.issueDetails.errorMessage}}</span>
        </div>
    </div>
    <!--    Project name    -->
    <div class="issue-details-column">
        <div class="title">
            <span>Project</span>
        </div>
        <div class="value">
            <a class="link" routerLink="/home/projects/edit/{{issue.project.id}}">{{issue.project.name}}</a>
        </div>
    </div>
    <!--    Issue Id    -->
    <div *ngIf="issueMessage.id" class="issue-details-column">
        <div class="title">
            <span>Id</span>
        </div>
        <div class="value">
            <span>{{issueMessage.id}}</span>
        </div>
    </div>
</div>
<!--    Stacktrace    -->
<div *ngIf="issueMessage?.issueDetails?.stackTrace?.length" class="issue-stacktrace">
    <div class="issue-stacktrace-header">
        <span>Stacktrace</span>
    </div>

    <div class="stacktrace">
        <div *ngFor="let st of issueMessage.issueDetails.stackTrace" class="stacktrace-row">
            <div class="stacktrace-row-info">
                <span>
                    <span *ngIf="st.className" class="class-name">{{st.className}}</span>
                    <span *ngIf="st.className && st.methodName">.</span>
                    <span *ngIf="st.methodName" class="method-name">{{st.methodName}}</span>

                    <span *ngIf="st.file">
                        in
                        <span class="file-name">{{st.file}}</span>
                    </span>

                    <span *ngIf="st.lineNumber > 0">:
                        line
                        <span class="line-number">{{st.lineNumber}}</span>
                    </span>

                    <span *ngIf="st.column > 0">
                        <span *ngIf="st.lineNumber > 0 else colon">, </span>
                        <ng-template #colon>: </ng-template>
                        column
                        <span class="column-number">{{st.column}}</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
