<div class="demo-continer">
    <div class="info">
        <span class="title">Test.<br>Succeed.<br>Iterate.</span>
        <span class="sub-title">Load-Test-As-Code: the best way to load test your applications, designed for DevOps and CI/CD</span>
        <button pButton pRipple type="button" label="Try it"  [routerLink]="['/signup']" class="p-button-outlined start-button"></button>
    </div>
    <div class="video">
        <youtube-player 
            [videoId]="videoId" 
            suggestedQuality="highres" 
            [height]="337" 
            [width]="600" >
        </youtube-player>
    </div>
</div>
