<div class="demo-continer">
    <div class="info">
        <span class="title">Test.<br>Succeed.<br>Iterate.</span>
        <span class="sub-title">It is an application monitoring platform that
            helps development teams to detect, diagnose, and resolve issues quickly before they affect
            end users.</span>
        <button
            pButton
            pRipple
            type="button"
            label="Try Watchdog for FREE"
            routerLink="/signup"
            class="p-button-primary start-button">
        </button>
    </div>
    <div class="monitor">
        <img src="assets/monitor.png" alt="monitor">
    </div>
</div>
