<p-panel header="Your teams">
    <div class="teams">
        <div class="team" *ngFor="let team of teams">
            <div class="team-info">
                <div class="team-avatar">
                    <p-avatar label="{{teamService.getLabel(team.name)}}"></p-avatar>
                </div>
                <div class="team-title">
                    <div class="team-name">
                        #{{team.name}}
                    </div>
                    <div class="team-members">
                        {{team.members.length}} members
                    </div>
                </div>
            </div>
            <div>
                <button
                    pButton
                    pRipple
                    type="button"
                    label="Leave team"
                    class="p-button-raised team-button"
                    icon="pi pi-minus-circle" (click)="leaveTeam(team.id)"></button>
            </div>
        </div>
    </div>
</p-panel>
