<p-panel header="Your Teams">
    <app-loading-spinner *ngIf="isLoading" [size]="'10px'"></app-loading-spinner>
    <div class="teams">
        <div class="team" *ngFor="let team of teams">
            <div class="team-info">
                <a class="team-avatar" [routerLink]="'./'+team.id">
                    <p-avatar styleClass="team-info-avatar" label="{{teamService.getLabel(team.name)}}"></p-avatar>
                </a>
                <a class="team-title" [routerLink]="'./'+team.id">
                    <div class="team-name">
                        #{{team.name}}
                    </div>
                    <div class="team-members">
                        {{team.members.length}} members
                    </div>
                </a>
            </div>
            <div>
                <button pButton pRipple type="button" label="Leave Team" class="teams-button join-leave-button"
                    icon="pi pi-minus-circle" (click)="leaveTeam(team.id)"></button>
            </div>
        </div>
    </div>
</p-panel>
