<div class="create-project-container">
    <!--    Header    -->
    <div class="header">
        <h2 class="header-title">Create New Project</h2>
        <p class="header-description">Projects allow you to scope error and transaction events to a specific
            application in your organization.
            For example, you might have separate projects for your API server and frontend client.
        </p>
    </div>
    <!--    Platform Section    -->
    <div class="choose-platform-section">
        <h2 class="title">Choose a platform</h2>
        <p-tabMenu [activeItem]="platforms.platformTabItems[0]" [model]="platforms.platformTabItems"></p-tabMenu>
        <!--    Platform Cards    -->
        <div class="platform-cards">
                <div (click)="newProject.platformId = platform.id"
                 *ngFor="let platform of platforms.viewPlatformCards"
                 [ngClass]="{ 'selected-card': platform.id === this.newProject.platformId}" class="card">
                <img alt="{{platform.name}}" [src]="platform.avatarUrl | save">
                <h3>{{platform.name}}</h3>
            </div>
        </div>
    </div>
    <!--    Platform is not selected Warning    -->
    <small *ngIf="!newProject.platformId" class="p-error">
        Please choose a platform
    </small>
    <!--    Alert RadioButtons    -->
    <div class="alert-settings">
        <h2 class="title">Set your default alert settings</h2>
        <p-divider></p-divider>

        <div *ngFor="let category of alertData.alertCategories" class="alert-form">
            <form [formGroup]="formGroup">
                <p-radioButton [inputId]="category.value.toString()" [value]="category.value" [label]="category.label"
                               formControlName="alertCategory" name="alertCategory" [(ngModel)]="alertSetting.alertCategory">
                </p-radioButton>
            </form>
            <!--    Specific Alert Settings    -->
            <div class="special-settings" *ngIf="category.value === 3">
                <p-inputNumber [(ngModel)]="alertSetting.specialAlertSetting.alertsCount"
                               [disabled]="formGroup.controls.alertCategory.value !== 3"
                               [min]="0" [showButtons]="true" [size]="2" [step]="1"
                               class="radiobutton-settings-alerts-count"
                               mode="decimal"
                               incrementButtonClass="p-button-outlined"
                               decrementButtonClass="p-button-outlined">
                </p-inputNumber>
                <p-dropdown [(ngModel)]="alertSetting.specialAlertSetting.specialAlertType"
                            [disabled]="formGroup.controls.alertCategory.value !== 3"
                            [options]="alertData.alertTypes"
                            optionValue="value" optionLabel="label"
                            class="radiobutton-settings-alert-type">
                </p-dropdown>
                <span>a unique error in</span>
                <p-dropdown [(ngModel)]="alertSetting.specialAlertSetting.alertTimeInterval"
                            [disabled]="formGroup.controls.alertCategory.value !== 3"
                            [options]="alertData.alertTimeIntervals"
                            optionValue="value" optionLabel="label"
                            class="radiobutton-settings-alert-type"
                >
                </p-dropdown>
            </div>
        </div>
    </div>
    <!--    Name and Team inputs    -->
    <div class="project-name-settings">
        <h2 class="title">Give your project name and description</h2>
        <p-divider></p-divider>
        <div class="name-settings">
            <!--    Name input    -->
            <div [formGroup]="formGroup" class="project-name">
                <span class="title">Project name</span>
                <div class="p-input-icon-left">
                    <i class="pi pi-file"></i>
                    <input aria-describedby="projectName" formControlName="projectName" pInputText
                           placeholder="Project name"
                           type="text"
                           class="project-name-input"
                           [(ngModel)] = "newProject.name">
                </div>
                <div *ngIf="formGroup.controls.projectName.touched && formGroup.controls.projectName.invalid"
                     class="input-validation-error" id="projectName">
                    <small *ngIf="formGroup.controls.projectName.errors.required" class="p-error">
                        Сan not be empty
                    </small>
                    <small *ngIf="formGroup.controls.projectName.errors.minlength" class="p-error">
                        At least 3 characters
                    </small>
                    <small *ngIf="formGroup.controls.projectName.errors.maxlength" class="p-error">
                        No more than 50 characters
                    </small>
                    <small *ngIf="formGroup.controls.projectName.errors.pattern" class="p-error">
                        May contain lowercase (a-z) and uppercase (A-Z) letters, numbers (0-9), dashes, 
                        underscores and spaces
                    </small>
                </div>

            </div>
            <!--    Team DropDown   -->
            <div [formGroup]="formGroup" class="project-team">
                <span class="title">Team</span>
                <div class="dropdown-with-button">
                    <p-dropdown [options]="teams" aria-describedby="team" class="radiobutton-settings-alert-type"
                                formControlName="team" optionLabel="name" placeholder="Select team" optionValue="id"
                                [(ngModel)] = "newProject.teamId">
                        <ng-template let-team pTemplate="item">#{{team.name}}</ng-template>
                        <ng-template let-team pTemplate="selectedItem">#{{team.name}}</ng-template>
                    </p-dropdown>

                </div>
                <!--    Team not selected Warning   -->
                <div *ngIf="formGroup.controls.team.dirty && formGroup.controls.team.invalid"
                     class="input-validation-error" id="team">
                    <small *ngIf="formGroup.controls.team.errors.required" class="p-error">
                        Required field
                    </small>
                </div>
            </div>
            <div class="add-team-block">
                <button class="p-button-text button-add-team" icon="pi pi-plus-circle" pButton pRipple
                pTooltip="Create a team"
                tooltipPosition="top" type="button"
                (click) = "openDialog()"></button>
            </div>
            <!-- Description -->
            <div [formGroup]="formGroup" class="project-description">
                <span class="title">Project name</span>
                <textarea [autoResize]="true" formControlName="projectDescription" pInputTextarea
                    placeholder="Description"
                    type="textarea" maxlength="1000"
                    [(ngModel)] = "newProject.description">
                </textarea>
                <div *ngIf="formGroup.controls.projectDescription.touched && formGroup.controls.projectDescription.invalid"
                     class="validation" id="projectDescription">
                     <small *ngIf="formGroup.controls.projectDescription.errors.maxlength" class="p-error">
                        No more than 1000 characters
                    </small>
                    <small *ngIf="formGroup.controls.projectDescription.errors.pattern" class="p-error">
                        May contain lowercase (a-z) and uppercase (A-Z) letters, numbers (0-9) and symbols<br>-_!#$%&'*+—/=?^`&#123;|&#125;~.,:;`"\№@()<>[]
                    </small>
                </div>

            </div>
            <!--    Submit Button   -->
            <div class="button-block">
                <button (click)="createProject()"
                [disabled]="!formGroup.valid || !newProject.platformId"
                class="p-button-primary p-button-outlined" label="Create Project"
                pButton></button>
            </div>

        </div>
    </div>
</div>

