<div class="title">User settings</div>
<header class="header">
    <div class="postion">
        <div class="profile-header-container">
            <div class="profile-header-navigation-container">
                <ul class="navigation-list">
                    <li class="navigation-item">
                        <a id="profile-settings" class="navigation-item-link" href="/users#">
                            <i class="pi pi-cog"></i>
                            <span class="header-navigation-text">Profile Settings</span>
                        </a>
                    </li>
                    <li class="navigation-item" *ngIf="isSignByEmailAndPassword">
                        <a class="navigation-item-link" href="/users#user-password-settings">
                            <i class="pi pi-key"></i>
                            <span class="header-navigation-text">Change Password</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="content-container">
    <div class="center">
        <app-user-profile-settings></app-user-profile-settings>
        <app-user-password-settings id="user-password-settings" *ngIf="isSignByEmailAndPassword"></app-user-password-settings>
    </div>
</div>
