.profile-header
    box-sizing: border-box
    position: relative
    padding: 8px 24px
    background-color: #ffffff
    border-bottom: 1px solid #d3d3d3
    padding-bottom: 0

.profile-header-title
    margin: 4px    

.profile-header-container, .profile-header-title, .profile-header-navigation-container
    padding: 5px
    padding-bottom: 0

.navigation-item
    display: inline-block
    margin-right: 10px
    
h1, .navigation-item-link
    white-space: nowrap

.navigation-item-link
    padding: 10px 16px
    display: block
    margin: 4px
    text-decoration: none
    color: #000000
    margin-bottom: 0

.navigation-item-link:hover
    border-bottom: 3px solid #c7c7c7

#profile-settings
    background: #ffffff
    color: #000000 
    border-bottom: 3px solid  #158FEF 

.pi
    display: inline-block
    margin-right: 5px 

@media screen and (max-width: 1050px)
    .navigation-item-link
        padding: 10px 16px
        background-color: #dcdcdc
        display: block
        border-radius: 24px
        margin: 4px
        border-bottom: none

    #profile-settings
        background-color: #158FEF
        color: #ffffff
        border-bottom: none
    
    .navigation-item-link:hover
        background-color: #c7c7c7
        border-bottom: none

    
        