<div class="title">#{{team?.name}}</div>
<app-loading-spinner *ngIf="isLoading" [overlay]="true"></app-loading-spinner>
<p-tabView styleClass="tabview-custom">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="header">
                <span>Members</span>
            </div>
        </ng-template>
        <app-team-members *ngIf="team" [team]="team"></app-team-members>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="header">
                <span>Projects</span>
            </div>
        </ng-template>
        <app-team-projects *ngIf="team" [team]="team"></app-team-projects>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="header">
                <span>Settings</span>
            </div>
        </ng-template>
        <app-team-settings *ngIf="team"></app-team-settings>
    </p-tabPanel>
</p-tabView>
