<p-panel header="Membership" class="container-group">
    <form [formGroup]="membershipForm" class="item">
        <label class="item-definition">
            <div>Default Role</div>
            <div class="item-sub-text">The default role new members will receive</div>
        </label>
        <div class="item-field">
            <div class="item-form-complex">
                <p-dropdown class="item-form-field" formControlName="defaultRoleId" [options]="roles" optionValue="id"
                    optionLabel="name" styleClass="item-form-field" placeholder="Role">
                </p-dropdown>
            </div>
        </div>
    </form>
    <form [formGroup]="membershipForm" class="item">
        <label class="item-definition">
            <div>Open Membership</div>
            <div class="item-sub-text">Allow organization members to freely join or leave any team</div>
        </label>
        <div class="item-field">
            <div class="item-form-complex">
                <p-inputSwitch formControlName="openMembership" class="item-form-field">
                </p-inputSwitch>
            </div>
        </div>
    </form>
</p-panel>
