<div class="container-group">
    <div class="container-header">
        <h2>General</h2>
    </div>
    <div class="item-group">
        <label class="item-form-definition">
            <div>Organization slug</div>
            <div class="item-sub-text">A unique ID used to identify this organization</div>
        </label>
        <input required [value]="organization?.organizationSlug" class="item-form-field" type="text" pInputText
            placeholder="Organization slug" (onchange)="save()">
    </div>
    <div class="item-group">
        <label class="item-form-definition">
            <div>Display Name</div>
            <div class="item-sub-text">A human-friendly name for the organization</div>
        </label>
        <input required [value]="organization?.name" class="item-form-field" type="text" pInputText
            placeholder="Display Name" (onchange)="save()">
    </div>
</div>
