.auth-wrapper
    display: grid
    grid-gap: 50px
    width: 100vw
    height: 100vh
    overflow: hidden

.separator
    display: flex
    align-items: center
    text-align: center
    margin: 25px 0

.separator::before, .separator::after
    content: ''
    flex: 1
    border-bottom: 1px solid #000

.separator::before
    margin-right: 0.25em

.separator::after
    margin-left: 0.25em

.info-block img
    display: block
    max-width: 100%
    max-height: 100%

.logo
    display: block
    width: 70%
    cursor: pointer

.start-trial
    display: flex
    flex-direction: row
    justify-content: center
    grid-gap: 10px
    align-items: center

.form-wrapper
    display: grid
    margin: 80px 0 20px 0

.login-item
    width: 100%

.singin
    width: 600px
    background-color: white
    padding: 30px 40px
    filter: drop-shadow(0px 5px 20px rgba(27, 33, 44, 0.3))

.signup
    font-size: .8rem
    white-space: nowrap
    min-width: 70px

.singin-title
    font-size: 2rem

.card
    margin: 30px 0 0 0
    width: 100%
    bottom: 0

@media screen and ( min-width: 1024px)
    .auth-wrapper
        grid-template-columns: 1fr 2fr

    .info-block
        display: flex
        height: 100vh
        object-fit: cover
        align-items: center
        justify-content: center

@media screen and ( max-width: 1024px)
    .auth-wrapper
        display: grid
        grid-template-columns: auto
        overflow: hidden
        padding: 50px 0 0 0
        overflow-y: auto
    .singin
        margin: 0 auto 50px auto
    .info-block
        display: none

@media screen and ( max-width: 600px)
    .auth-wrapper
        display: grid
        grid-template-columns: auto
        overflow: hidden
        padding: 0
        overflow-y: auto
    .singin
        margin: 0
        width: 100%
    .info-block
        display: none
    .login-header
        display: grid
        grid-auto-flow: row
        grid-gap: 20px
        justify-content: center

    .logo
        width: 100%

    .form-wrapper
        display: grid
        margin: 20px 0

@media screen and ( min-width: 600px)
    .login-header
        display: grid
        grid-template-columns: 1fr auto
        grid-gap: 20px
        align-items: center
