<div class="auth-wrapper">
    <div class="singin">
        <div class="login-header">
            <div class="logo">
                <img src="assets/logo.svg" alt="logo"  [routerLink]="['/']">
            </div>
            <div class="start-trial">
                <span>Don`t have an account?</span>
                <button pButton pRipple type="button" [routerLink]="['/signon']" label="Sign On" class="signon p-button-raised"></button>
             </div>
        </div>
        <div class="form-wrapper">
            <span class="singin-title">Sign in</span>
        </div>
        <div class="card">
                <app-login-form></app-login-form>
                <div class="separator">or</div>
                <app-socials-login></app-socials-login>
        </div>
    </div>
    <div class="info-block">
        <img src="https://raygun.com/blog/images/banners/cwv-sign-in-banner.png" alt="info">
    </div>
</div>