<div class="auth-wrapper">
    <div class="singin">
        <div class="login-header">
            <div class="logo">
                <img [routerLink]="['/landing']" alt="logo"  src="assets/logo.svg">
            </div>
            <div class="start-trial">
                <span>Don`t have an account?</span>
                <button [routerLink]="['/signup']" class="signup p-button-raised" label="Sign Up" pButton pRipple type="button"></button>
             </div>
        </div>
        <div class="form-wrapper">
            <span class="singin-title">Sign in</span>
        </div>
        <div class="card">
                <app-login-form></app-login-form>
                <div class="separator">or</div>
                <app-socials-login></app-socials-login>
        </div>
    </div>
    <div class="info-block">
        <img src="https://raygun.com/blog/images/banners/cwv-sign-in-banner.png" alt="info">
    </div>
</div>
