<div class="org-label" (click)="menu.toggle($event)">
    <div class="org-avatar">
        <p-avatar size="large" *ngIf="organization?.avatarUrl" [image]="organization.avatarUrl"></p-avatar>
        <p-avatar size="large" *ngIf="!organization?.avatarUrl" [label]="organization?.name"></p-avatar>
    </div>
    <div class="org-title">
        <div class="org-name text-ellipsis">
            {{organization?.name}}Company
        </div>
        <div class="org-user text-ellipsis">
            user@gmail.com
        </div>
    </div>
</div>
<p-menu #menu [popup]="true" [model]="menuItems">
</p-menu>