@import src/styles/variables
@import src/styles/mixins

$item-height: 47px
::ng-deep
    .org-dropdown
        padding: 0.5rem 0
        .org-label
            color: $primary-color-text
            align-items: center
            background: none
            display: flex
            width: 100%
            cursor: pointer

        .org-title
            margin-left: 7px
            font-family: "DM Sans"
            margin-top: 4px
            display: flex
            flex-direction: column
            .org-name
                font-family: "DM Sans", serif
                font-weight: 520
            .org-user
                font-size: small
                color: rgb(255,255,255, 0.55)

        .org-label-item
            color: $text-color
            align-items: center
            background: none
            display: flex
            width: 100%
            cursor: pointer
            .org-title
                margin-top: 5px
                .org-name
                    font-size: smaller
                    font-weight: 520
                .org-user
                    color: #c7c7c7

        .p-dropdown
            border: none !important
        .p-dropdown-trigger-icon
            color: $primary-color-text

        &.collapse-sidebar
            .p-dropdown-trigger
                display: none
        .p-dropdown-label
            height: 100%
            padding: 0 !important

        .p-dropdown-item
            padding: 0.25rem 0.5rem !important
            height: $item-height
            &:not(.p-highlight):not(.p-disabled):hover
                background: $background-hover-color !important

        .org-avatar-item.p-avatar
            background-color: $primary-color-darkest
        .org-avatar-item .p-avatar-text
            color: $primary-color-text

        .p-dropdown-items
            padding: 0 !important

    .dropdown-wrapper
        width: 100%
        height: $title-hight
        display: flex
        align-items: center
.create-new
    border-top: 1px solid $border-color

.create-new-button
    margin-top: 0.5rem
    padding: 0.25rem 0.5rem
    width: 100%
    display: grid
    grid-auto-flow: column
    justify-content: flex-start
    grid-gap: 10px
    cursor: pointer

    &:hover
        background: $background-hover-color
.icon
    display: block
    margin-left: auto
    margin-right: .3em
    font-size: 1.2rem
    align-self: center
    &:hover
        color: $primary-color-lighter

.org-title
    @include text-overflow-x-nowrap
    font-size: 1.1em

.org-name
    height: 1.2em
    overflow: inherit
    text-overflow: inherit

.org-user
    font-size: .8em
    height: 1.2em
    transition: color .3s ease-in-out
    overflow: inherit
    white-space: inherit
    text-overflow: inherit

.collapsed-org-avatar
    cursor: pointer
    padding: 0
    @include disable-select
.content
    display: block
    width: 100%
