@import src/styles/variables

:host ::ng-deep
    .org-label
        color: $text-color
        border-radius: 7px
        align-items: center
        background: radial-gradient($background-color, $background-hover-color)
        display: flex
        width: 100%
        cursor: pointer
        transition: background-color .2s ease-in-out
        &:hover
            background-color: $background-hover-color
        .p-dropdown-label
            display: flex
            align-items: center
            gap: .2em
            padding-right: 0
        .p-dropdown
            padding: 0
        .p-dropdown-item
            display: flex
            padding: 0.5rem .5em
            align-items: center
            gap: .2em
        .p-dropdown-trigger
            width: 1.7em
            display: none
        .p-dropdown-trigger-icon
            font-size: 1.2em

.dropdown-wrapper
    width: 100%
.icon
    display: block
    margin-left: auto
    margin-right: .3em
    font-size: 1.2rem
    align-self: center
    &:hover
        color: $primary-color-lighter

.org-title
    font-size: 1.1em
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.org-name
    height: 1.2em
    overflow: inherit
    text-overflow: inherit

.org-user
    font-size: .8em
    height: 1.2em
    transition: color .3s ease-in-out
    overflow: inherit
    white-space: inherit
    text-overflow: inherit

::ng-deep
    .org-avatar-item.p-avatar
        background-color: $primary-color-darkest
    .org-avatar-item .p-avatar-text
        font-family: "DM Sans", serif
        color: $primary-color-text
