<!--    Details    -->
<div class="issue-details-http">
    <!--    Url    -->
    <div *ngIf="issueHttpResponse.url" class="issue-details-http-column">
        <div class="title">
            <span>Url</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.url}}</span>
        </div>
    </div>
    <!--    Status    -->
    <div *ngIf="issueHttpResponse.status" class="issue-details-http-column">
        <div class="title">
            <span>Status</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.status}}</span>
        </div>
    </div>
    <!--    Status text    -->
    <div *ngIf="issueHttpResponse.statusText" class="issue-details-http-column">
        <div class="title">
            <span>Status text</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.statusText}}</span>
        </div>
    </div>
    <!--    Message    -->
    <div *ngIf="issueHttpResponse.message" class="issue-details-http-column">
        <div class="title">
            <span>Message</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.message}}</span>
        </div>
    </div>
    <!--    Host Name    -->
    <div *ngIf="issueHttpResponse.hostName" class="issue-details-http-column">
        <div class="title">
            <span>Host Name</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.hostName}}</span>
        </div>
    </div>
    <!--    Http Method    -->
    <div *ngIf="issueHttpResponse.httpMethod" class="issue-details-http-column">
        <div class="title">
            <span>Http Name</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.httpMethod}}</span>
        </div>
    </div>
    <!--    IP Address    -->
    <div *ngIf="issueHttpResponse.ipAddress" class="issue-details-http-column">
        <div class="title">
            <span>IP Address</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.ipAddress}}</span>
        </div>
    </div>
    <!--    Headers    -->
    <div *ngIf="(issueHttpResponse.headers | json) !== '{}'" class="issue-details-http-column">
        <div class="title">
            <span>Headers</span>
        </div>
        <div class="value">
            <div *ngFor="let pair of issueHttpResponse.headers | keyvalue">
                <span class="key">{{pair.key}}</span>
                :
                <span class="value">{{pair.value}}</span>
            </div>
        </div>
    </div>
    <!--    Query String    -->
    <div *ngIf="(issueHttpResponse.queryString | json) !== '{}'" class="issue-details-http-column">
        <div class="title">
            <span>Query String</span>
        </div>
        <div class="value">
            <div *ngFor="let pair of issueHttpResponse.queryString | keyvalue">
                <span class="key">{{pair.key}}</span>
                :
                <span class="value">{{pair.value}}</span>
            </div>
        </div>
    </div>
</div>
