<!--    Details    -->
<div class="issue-details-http">
    <!--    Url    -->
    <div class="issue-details-http-column">
        <div class="title">
            <span>Url</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.url}}</span>
        </div>
    </div>
    <!--    Status    -->
    <div class="issue-details-http-column">
        <div class="title">
            <span>Status</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.status}}</span>
        </div>
    </div>
    <!--    Status text    -->
    <div class="issue-details-http-column">
        <div class="title">
            <span>Status text</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.statusText}}</span>
        </div>
    </div>
    <!--    Message    -->
    <div class="issue-details-http-column">
        <div class="title">
            <span>Message</span>
        </div>
        <div class="value">
            <span>{{issueHttpResponse.message}}</span>
        </div>
    </div>
</div>
