@import src/styles/variables
@import src/styles/mixins

.header
    @include background-gray
    @include title
    display: flex
    align-items: center
    justify-content: space-between
    white-space: nowrap

    .left-side
        display: flex
        align-items: center

        .back-button
            margin-right: .2em
            border: none
            border-radius: 100%

        h2
            @include text-overflow-x-nowrap
            max-width: 450px
            cursor: default


::ng-deep .dropdown
    height: 39px
    display: flex
    align-items: center
    width: 150px
    margin-bottom: 1px
    border-color: $border-color

    .p-dropdown-label
        color: $primary-color-text
        font-weight: 500

    .p-dropdown-trigger
        color: $primary-color-text

::ng-deep .dropdown-active-status
    .p-dropdown
        background: $issue-status-active-color

::ng-deep .dropdown-resolved-status
    .p-dropdown
        background: $issue-status-resolved-color

::ng-deep .dropdown-ignored-status
    .p-dropdown
        background: $issue-status-ignored-color

.content
    padding: $half-indent

    ::ng-deep .tabview
        .p-tabview-panels
            padding-bottom: 0

        .p-tabview-nav
            flex-wrap: nowrap
            white-space: nowrap
