<app-commom-edit-tile [formGroup]="formGroup" (submited)="submit()" [form]="formGroup">
    <!--    Date Range Dropdown    -->
    <div class="date-range">
        <div class="date-range-title">Date range</div>
        <p-dropdown [options]="dateRangeDropdown" appendTo="body" formControlName="dateRange"
                    optionLabel="name" optionValue="type" styleClass="date-range-dropdown">
        </p-dropdown>
    </div>
    <!--    Issues Count Input    -->
    <div class="issues-count">
        <div class="issues-count-title">Count of top items</div>
        <p-inputNumber [max]="1000" [min]="1" [showButtons]="true" [size]="2" [step]="1"
                        formControlName="itemsCount" mode="decimal">
        </p-inputNumber>
    </div>
</app-commom-edit-tile>
