<h1 class="content-title">
    Organization Settings
    <div class="header-buttons">
        <button disabled #saveBut pButton pRipple class="p-button-primary p-button-outlined" label="Save"
            (click)="save()"></button>
        <button pButton pRipple class="p-button-secondary p-button-outlined" label="Reset" (click)="reset()"></button>
        <button *ngIf="isRemovingAllowed" pButton pRipple class="p-button-danger p-button-outlined" label="Remove" (click)="remove()"></button>
    </div>
</h1>

<div class="settings-container">
    <app-general-settings [parentForm]="parentForm" *ngIf="organization" [organization]="organization">
    </app-general-settings>
    <app-membership-settings [parentForm]="parentForm" *ngIf="organization" [organization]="organization" [user]="user">
    </app-membership-settings>
</div>
