@import src/styles/variables
@import src/styles/mixins


.settings-container
    color: $text-color
    margin: $indent

:host
    ::ng-deep .item-form-field.p-dropdown
        width: 100%

.content-title
    font-size: 2em
    display: flex
    justify-content: space-between
    @include background-grey
    @include title

.container
    &-group
        @include background-grey
        margin: $half-indent 0
    &-header
        font-size: 1.5em
        margin: .5em 0
        font-weight: 500
        padding: $half-indent
        color: $primary-color-text
        background-color: $primary-color-light

.item
    &-group
        padding: .4em $half-indent
        display: flex
        padding-bottom: 1.2em
    &-form-definition
        width: 50%
        font-size: 1.2em
        margin-right: 1em
    &-form-field
        width: 100%

    &-sub-text
        font-size: .7em
        margin-top: .2em
        color: var(--text-secondary-color)

.item-form-input
    width:100%
    position: relative

.input-error
    color: $validation-color
    position: absolute
    font-size: .75em
    margin-top: .1em

.buttons-block
    grid-gap: 5px
    display: flex