.settings-container
    width: 100%
    margin-left: auto

.settings-title
    font-size: 2em

.container
    box-shadow: 0 0px 1px black
    margin: 1em 0

.header
    font-size: 1.5em
    padding: 10px
    border-bottom: 1px solid grey
    background-color: #faf9fb

.content
    padding: 10px

.option-group
    padding: .5em 0
    display: flex

.definition
    width:50%
    font-size: 1.1em
    margin-right: .5em

.field
    width:50%
    margin-left: .5em

.sub-text
    font-size: .8em
    margin-top: .2em
    color: grey

:host
    ::ng-deep .field.p-dropdown
        width:100%

