<p-dialog
    [visible]=true
    [modal]="true"
    [closable]="false"
    [showHeader] ="false">

    <p-panel 
        header="Invite members" 
        class="invite-block">
            <div class="p-dialog-header">
                <button class="close-button" (click)="closeModal.emit()"><i class="pi pi-times"></i></button>
            </div>
                <!-- email -->
                <form [formGroup]="invation.groupForm" *ngFor="let invation of invations">
                    <div class="invite-form">
                        <div class="p-field p-col-12 p-md-4">
                            <p-autoComplete [appendTo] = "'body'" 
                            field="user.email" formControlName="name" [forceSelection]="true" 
                            [suggestions]="members" (completeMethod)="search($event)"
                            dropdownMode="current">
                                <ng-template let-member pTemplate="item">
                                    <span> {{member.user.firstName}} {{member.user.lastName}}</span>
                                    <span> {{member.user.email}} </span> 
                                </ng-template>
                            </p-autoComplete>
                        </div>
                        <!-- role -->
                        <p-dropdown class="role-dropdown"  [appendTo] = "'body'" [(ngModel)]="invation.member.roleId" [options]="roles" optionValue="id"  optionLabel="name"  name="roles-dropdown"
                            placeholder="Select Role"  [filter]="false" formControlName="role">

                        </p-dropdown>
                        <!-- team -->
                        <p-dropdown class="radiobutton-settings-alert-type" [appendTo]="'body'" [options]="teams"  optionLabel="name"
                            placeholder="Select team" aria-describedby="team"  optionValue="id" [(ngModel)] = "invation.member.teamId" formControlName="team">
                            <ng-template let-team pTemplate="item">{{team.name}}</ng-template>
                            <ng-template let-team pTemplate="selectedItem">{{team.name}}</ng-template>
                        </p-dropdown>
                                        <button pButton pRipple
                        class="p-button-success"
                        type="submit"
                        label="Invite"
                        [disabled]="!invation.groupForm.valid"
                        (click)="invate(invation.groupForm)">
                        </button>
                    </div>
                    <p-overlayPanel #op [appendTo]="'body'">
                        <ng-template pTemplate>
                            <div class="availiable-members" *ngFor="let member of members">
                                <button> 
                                    <span> {{member.user.firstName}} {{member.user.lastName}}</span>
                                    <span> {{member.user.email}} </span> 
                                </button>
                            </div>
                        </ng-template>
                    </p-overlayPanel>
            </form>
            <button pButton pRipple type="button" (click)="addNew()" class="p-button-outlined" icon="pi pi-plus" label="Add more"></button>
    </p-panel> 
       
</p-dialog>
