<div class="table" #toExport *ngIf="loadingDataInTile">
    <p-table [alwaysShowPaginator]="countryInfos?.length > paginatorRows()" [pageLinks]="1" [paginator]="true"
        [rows]="paginatorRows()" [showJumpToPageDropdown]="true" [showPageLinks]="false" [value]="countryInfos"
        selectionMode="single" sortField="count" [sortOrder]="-1">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="country">Country
                    <p-sortIcon field="country"></p-sortIcon>
                </th>
                <th pSortableColumn="count">Count
                    <p-sortIcon field="count"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template let-countryInfo pTemplate="body">
            <tr>
                <td>
                    <span class="flag-icon flag-icon-{{countryInfo.country.toLowerCase()}}"></span>
                    <span class="country">{{countryInfo.country}}</span>
                </td>
                <td>{{countryInfo.count}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-progressSpinner *ngIf="!loadingDataInTile"></p-progressSpinner>
