<form action="/login" method="POST" class="login-inp" [formGroup]="formGroup">
    <div class="input-block">
        <span class="p-float-label">
            <input id="float-input-email" type="text" name="email" formControlName="email" pInputText [(ngModel)]="email">
            <label for="float-input-email">Email</label>
        </span>
        <div *ngIf="formGroup.controls.email.touched && formGroup.controls.email.invalid" class="validation">
            <small *ngIf="formGroup.controls.email.errors.required">Сan not be empty</small>
            <small *ngIf="formGroup.controls.email.value?.length < 6">Min length 6</small>
            <small *ngIf="formGroup.controls.email.hasError('pattern')">Invalid Email</small>
        </div>
    </div>
    <div class="input-block">
        <span class="p-float-label">
            <p-password id="float-input-pass" name="password" [(ngModel)]="password" formControlName="password" [feedback]="false" [toggleMask]="true">
            </p-password>
            <label for="float-input-pass">Password</label>
        </span>
        <div *ngIf="formGroup.controls.password.touched && formGroup.controls.password.invalid" class="validation">
            <small *ngIf="formGroup.controls.password.errors.required">Сan not be empty</small>
        </div>
    </div>
    <span class="p-field-checkbox">
        <p-checkbox class="remember-check" name="rememberMe" formControlName="rememberMe" [(ngModel)]="rememberMe" [binary]="true" inputId="binary">
        </p-checkbox>
        <label for="binary">Remember me</label>
    </span>

    <span>
        <button pButton class="submit-button p-button-outlined" label="Submit" type="submit" (click)="onSubmit()" [disabled]="!formGroup.valid"></button>
    </span>
</form>