@import src/styles/variables

.reg-wrapper
    width: 100vw
    height: 100vh
    overflow: auto
    display: grid
    grid-template-rows: auto 1fr

.reg-header
    display: flex
    flex-direction: row
    justify-content: space-between
    grid-gap: 40px
    align-items: center
    height: 60px
    background-color: rgba(255,255,255,0.8)

.logo
    padding-left: 5px
    display: flex
    justify-content: center
    cursor: pointer
    img
        display: block
        width: 72.36%

.signin-wrapper
    display: flex
    align-items: center
    grid-gap: 20px
    margin-right: $indent
    button
        font-weight: bold
        white-space: nowrap
    span
        text-align: center

.content-wrapper
    padding: 30px
    white-space: normal
    margin: auto
    background-color: white
    width: 800px
    display: flex
    flex-direction: column
    justify-content: center
    filter: drop-shadow(0px 10px 30px rgba(27, 33, 44, 0.3))

.free-start
    display: flex
    justify-content: center
    font-size: 2rem
    margin-bottom: 20px

@media screen and ( max-width: 900px)
    .content-wrapper
        width: 500px

@media screen and ( max-width: 600px)
    .content-wrapper
        width: 100%
        padding: 30px 0
    .logo
        display: none

    .reg-header
        justify-content: center
        grid-gap: 0
