.demo-continer
    padding: 150px 0

.info
    color: white
    font-weight: bolder
    padding: 30px

.video
    display: flex
    justify-content: center

.title
    display: block
    font-size: 4rem


.sub-title  
    display: block
    margin-top: 15px
    line-height: 1.3rem

.start-button
    font-weight: bold
    margin-top: 15px
    background-color: white !important

    &:hover
        background-color: white !important


@media screen and ( min-width: 1150px )
    .demo-continer
        display: grid
        grid-template-columns: 1fr auto

@media screen and ( max-width: 1150px )
    .demo-continer
        display: grid
        grid-template-rows: 1fr auto


    