<div class="menu">
    <!--    Left Buttons    -->
    <div class="left-buttons">
        <button (click)="clearDashboardTiles()" class="p-button-danger p-button-outlined" label="Clear" pButton
                pRipple pTooltip="Clear dashboard" tooltipPosition="bottom" tooltipStyleClass="tooltip-text">
        </button>
        <button [disabled]="!orderChanged" (click)="saveOrder()" class="p-button-primary p-button-outlined" label="Save Order" pButton
                pRipple pTooltip="Save Order" tooltipPosition="bottom" tooltipStyleClass="tooltip-text">
        </button>
    </div>
    <!--    Center Buttons    -->
    <div class="center-buttons">
        <!--    Text Button    -->
        <button (click)="createHeatMap()"
                class="dropdown-button p-button-outlined" icon="pi pi-heart" pButton pTooltip="HeatMap"
                tooltipPosition="bottom" tooltipStyleClass="tooltip-text" type="button">
        </button>
        <!--    List Button    -->
        <button (click)="createActiveIssues()"
                class="dropdown-button p-button-outlined" icon="pi pi-list"
                pButton pTooltip="Active Issues" tooltipPosition="bottom" tooltipStyleClass="tooltip-text" type="button">
        </button>
        <!--    Number Button    -->
        <div class="number-button">
            <button (click)="createIssueCount()" class="p-button-outlined" icon="pi pi-th-large"
                        pButton pTooltip="Issue count" tooltipPosition="bottom" tooltipStyleClass="tooltip-text"
                    type="button"></button>
        </div>
        <!--    Chart Button    -->
        <button (click)="createIssuePerTime()"
                class="dropdown-button p-button-outlined"
                icon="pi pi-chart-bar" pButton pTooltip="Issues per time" tooltipPosition="bottom"
                tooltipStyleClass="tooltip-text" type="button"></button>
    </div>
    <!--    Right Buttons    -->
    <div class="right-buttons">
        <!--    Close Button    -->
        <button (click)="close()" class="p-button-raised p-button-text p-button-plain" icon="pi pi-times"
                pButton pTooltip="Close Menu" tooltipPosition="bottom" tooltipStyleClass="tooltip-text"
                type="button">
        </button>
    </div>

</div>
