<div class="title"><button routerLink="../" tooltipPosition="bottom" pTooltip="Back to Projects" pButton pRipple
    icon="pi pi-chevron-left " class="p-button-outlined back-button"></button>{{project?.name}}
<div class="header-buttons" >
    <div class="buttons-container">
        <button #saveBut pButton pRipple class="p-button-primary p-button-outlined" label="Save" (click)="tests()"></button>
        <button pButton pRipple class="p-button-secondary p-button-outlined" label="Reset" (click)="reset()"></button>
        <button pButton pRipple class="p-button-danger p-button-outlined" label="Remove" (click)="deleteProject(this.id)"></button>
    </div>
</div>
</div>
<p-tabView>
<p-tabPanel>
    <ng-template pTemplate="header">
        <div class="header">
            <span>General settings</span>
        </div>
    </ng-template>
    <app-project-general *ngIf="project" [editForm]="editForm" [project]="project"></app-project-general>
</p-tabPanel>
<p-tabPanel>
    <ng-template pTemplate="header">
        <div class="header">
            <span>Alert</span>
        </div>
    </ng-template>
    <app-project-alert *ngIf="project" [editForm]="editForm" [project]="project"></app-project-alert>
</p-tabPanel>
</p-tabView>

