<div class="title"><button routerLink="../../" tooltipPosition="bottom" pTooltip="Back to Projects" pButton pRipple
    icon="pi pi-chevron-left " class="p-button-outlined back-button"></button>{{project?.name}}
<div class="header-buttons" >
    <div class="buttons-container">
        <button #saveBut pButton pRipple class="p-button-primary p-button-outlined" label="Save" (click)="updateProjectFunction()"></button>
        <button pButton pRipple class="p-button-danger p-button-outlined" label="Remove" (click)="deleteProjectModal()"></button>
    </div>
</div>
</div>
<p-tabView *ngIf="project" [(activeIndex)]="activeIndex">
    <p-tabPanel *ngIf="isBrowser">
        <ng-template pTemplate="header">
            <div class="header">
                <span>Analytics</span>
            </div>
        </ng-template>
        <app-project-analytics *ngIf="project" [project]="project"></app-project-analytics>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="header">
                <span>Issues</span>
            </div>
        </ng-template>
        <app-issues *ngIf="project" [project]="project"></app-issues>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="header">
                <span>General settings</span>
            </div>
        </ng-template>
        <app-project-general *ngIf="project" [editForm]="editForm" [project]="project"></app-project-general>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="header">
                <span>Alert</span>
            </div>
        </ng-template>
        <app-project-alert *ngIf="project" [editFormAlert]="editFormAlert" [project]="project"></app-project-alert>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="header">
                <span>Configure platform</span>
            </div>
        </ng-template>
        <app-configure-wrapper *ngIf="project" [project]="project"></app-configure-wrapper>
    </p-tabPanel>
</p-tabView>

